{include file="public/header" /}
<style type="text/css" media="all">
    .form-group{
        width: 100%;
        height: 30px;
        margin-top:30px;
      
    }
    .btn-primary{
        margin-top:40px;
        margin-left:10%;
        width: 300px;
    }
    .col-sm-2{
      width: 10%;
      height: 35px;
      line-height: 35px;
      font-weight: normal;
      text-align: right;
      margin-right: 10px;
    }
</style>

<body class="gray-bg">
<link rel="stylesheet" href="/static/admin/layui/css/layui.css" media="all">
<div class="wrapper layui-card-body wrapper-content">
    <div class="admin-con">
        <div class="block-box">
            <div class="col-12">
                <div class="block">
      
                    <form class="form-inline font13" method="post" action="{:url('usersit_add')}"  enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">后台名称 :</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="htname" value="{$list.htname}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">网站标题 :</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="biaoti" value="{$list.biaoti}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">副标题：</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="fubiaoti" value="{$list.fubiaoti}" >
                            </div>
                        </div>
                 
                        <div class="form-group">
                            <label class="col-sm-2 control-label">网站关键词 :</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="ci" value="{$list.ci}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">网站描述 :</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="miaoshu" value="{$list.miaoshu}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ICP备案信息 :</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="beian" value="{$list.beian}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">电话 :</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="number" class="form-control" name="phone" value="{$list.phone}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">底部信息 :</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="dibu" value="{$list.dibu}" >
                            </div>
                  </div>
                   
                    <div class="form-group">
                            <label class="col-sm-2 control-label">微信二维码 :</label>
                             <input id="title" type="file" class="form-control" name="ewm" value="" >
                            <div class="input-group col-sm-4">
                                
                                {if !empty($list.ewm)}
                                <img src="/static/admin/images/{$list.ewm}" alt="" style="width:100px;height:50px;" />
                                {else /}
                               
                                {/if}
                                
                               
                               
                            </div>
                  </div>
                   <div class="form-group">
                            <label class="col-sm-2 control-label">内页LOGO :</label>
                             <input id="title" type="file" class="form-control" name="nylogo" value="" >
                            <div class="input-group col-sm-4">
                                
                                {if !empty($list.nylogo)}
                                <img src="/static/admin/images/{$list.nylogo}" alt="" style="width:100px;height:50px;" />
                                {else /}
                               
                                {/if}
                                
                                <span>图片尺寸80*38</span>
                               
                            </div>
                  </div>
                
                  <!--<div class="form-group">-->
                  <!--          <label class="col-sm-2 control-label">视频剪辑扣除:</label>-->
                  <!--          <div class="input-group col-sm-4">-->
                  <!--              <input id="title" type="text" class="form-control" name="spjj" value="{$list.spjj}" >-->
                  <!--          </div>-->
                  <!--</div>-->
                  <!--<div class="form-group">-->
                  <!--          <label class="col-sm-2 control-label">图片素材最少:</label>-->
                  <!--          <div class="input-group col-sm-4">-->
                  <!--              <input id="title" type="text" class="form-control" name="imgnum" value="{$list.imgnum}" >-->
                  <!--          </div>-->
                  <!--</div>-->
                  <!--<div class="form-group">-->
                  <!--          <label class="col-sm-2 control-label">关键词扣除:</label>-->
                  <!--          <div class="input-group col-sm-4">-->
                  <!--              <input id="title" type="text" class="form-control" name="jifen" value="{$list.jifen}" >-->
                  <!--          </div> -->
                  <!--</div>-->
                  {if $jibie==0}
                  <div class="form-group">
                        <label class="col-sm-2 control-label">是否开启招商页:</label>
                        <div class="input-group col-sm-4">
                            <select  class="form-control" name="pc" id="">
                                {if $list.pc==0}
                                <option value="0">否</option>
                                <option value="1">是</option>
                                {else /}
                                 <option value="1">是</option>
                                 <option value="0">否</option>
                               
                                {/if}
                                
                            </select>
                        </div> 
                  </div>
                  {else/}
                  {/if}
                   <div class="form-group">
                            <label class="col-sm-2 control-label">扫码授权提示语 :</label>
                            <div class="input-group col-sm-4">
                        <textarea name="h5_msg" id= rows="8" cols="40">{$list.h5_msg?$list.h5_msg:''}</textarea>
                            </div>
                  </div>
           
                <button type="submit" class="btn btn-primary">保&nbsp;&nbsp;&nbsp;存</button> 
                </form>
    
            <!--搜索框开始-->           
            <!--<div class="row">-->
            <!--    <div class="col-sm-12">   -->
                                                        
            <!--        <form name="admin_list_sea" class="form-search" method="post" action="{:url('chaxun')}">-->
            <!--            <span style="width:100px;float:left">站长工具</span> -->
                      <!--  <input type="text"  class="form-control" name="name" value="" placeholder="" style="width:200px;float:left"  disabled="tuue"/> -->
            <!--        <input type="text"  class="form-control" name="key" value="" placeholder="请输入您的key值" style="width:300px;float:left" />   -->
            <!--                <div class="form-group">-->
                          
            <!--                <div class="col-sm-6">-->
            <!--                    <div class="radio ">                                        -->
            <!--                        <input type="checkbox" name='status' value="1" class="js-switch" checked />&nbsp;&nbsp;默认开启                                     -->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
                        
            <!--            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 保存</button> -->

            <!--        </form>                         -->
            <!--    </div>-->
            <!--</div>-->
           
            <!--搜索框结束-->

  
         
        </div>
    </div>
</div>
<!-- kaishi -->



{include file="public/footer" /}

<script type="text/javascript">
     var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
         var elem = document.querySelector('.js-switch1');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var elem = document.querySelector('.js-switch2');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var elem = document.querySelector('.js-switch3');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var elem = document.querySelector('.js-switch4');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var elem = document.querySelector('.js-switch5');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var elem = document.querySelector('.js-switch6');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var elem = document.querySelector('.js-switch7');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var elem = document.querySelector('.js-switch8');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var elem = document.querySelector('.js-switch9');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
         var elem = document.querySelector('.js-switch10');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
    
    var config = {
        '.chosen-select': {},                    
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

</script>

</html>