@font-face {
  font-family: "iconfont"; /* Project id 3537641 */
  src: url('iconfont.woff2?t=1658396637784') format('woff2'),
       url('iconfont.woff?t=1658396637784') format('woff'),
       url('iconfont.ttf?t=1658396637784') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block!important;
}

span.iconfont.icon-shipin1{
    color: red;
    font-weight: bold;
}
span.iconfont.icon-zhutushipin{
    color: #fffa52;
}
span.iconfont.icon-xiansuochi{
    color: #c34cea;
    font-weight: bold;
}
span.iconfont.icon-chuangzuozhezhongxin{
    color: #4b4fd7;
}
span.iconfont.icon-fenlei-remen{
    color: #ff7752;
}

.icon-duojibiaoti:before {
  content: "\e66d";
}

.icon-shipin1:before {
  content: "\e644";
}

.icon-seotag-copy:before {
  content: "\eca5";
}

.icon-rizhi:before {
  content: "\e69a";
}

.icon-chuangzuozhongxin:before {
  content: "\e6bc";
}

.icon-rizhi1:before {
  content: "\e63e";
}

.icon-SEOTAGS:before {
  content: "\e8fa";
}

.icon-seotag:before {
  content: "\eca4";
}

.icon-Seo:before {
  content: "\e604";
}

.icon-youlideSEO:before {
  content: "\e695";
}

.icon-chuangzuozhezhongxin:before {
  content: "\e73b";
}

.icon-xitongpeizhi:before {
  content: "\e6b8";
}

.icon-guanliyuan:before {
  content: "\e63c";
}

.icon-xitongshezhi:before {
  content: "\e622";
}

.icon-remen:before {
  content: "\e647";
}

.icon-fenlei-remen:before {
  content: "\e610";
}

.icon-caozuoxitong:before {
  content: "\e65d";
}

.icon-remenhuodong:before {
  content: "\e613";
}

.icon-caiwuguanli:before {
  content: "\e699";
}

.icon--zhengjixiansuo:before {
  content: "\e694";
}

.icon-caiwuFinance7:before {
  content: "\e6e6";
}

.icon-shipin:before {
  content: "\ec8e";
}

.icon-xitongguanli:before {
  content: "\e603";
}

.icon-caiwu:before {
  content: "\e8eb";
}

.icon-xiansuochi:before {
  content: "\e66b";
}

.icon-zhutushipin:before {
  content: "\e612";
}

.icon-xitongshezhi1:before {
  content: "\e611";
}

.icon-xitongshezhi2:before {
  content: "\e618";
}

.icon-zhanghaoquanxian_moren2x:before {
  content: "\e605";
}

.icon-yonghuzhongxin:before {
  content: "\e61f";
}

.icon-gongnenglanicon_mobanguanli:before {
  content: "\e60e";
}

