<style type="text/css">
    .footTop a{color: #999;margin-right: 20px;}
</style>
<footer class="footerBg">
	<div class="container">
    	<div class="footTop">
            友情链接：
            <a href="https://fxg.jinritemai.com/" target="_blank">抖音小店</a>
            <a href="https://www.xingtu.cn/" target="_blank">巨量星图</a>
            <a href="https://cc.oceanengine.com/" target="_blank">巨量创意</a>
            <a href="https://fuwu.oceanengine.com/" target="_blank">巨量服务市场</a>
            <div class="clear"></div>
        </div>
    	<div class="footBot">
        	<img src="{$website_config['website_logo']}" class="footLogo">
        	<p>Copyright © 2022- All rights reserved.</p>
            <div class="clear"><a href="https://beian.miit.gov.cn/" target="_blank" >{$website_config['beian']}</a></div>
        </div>
    </div>
</footer>
<ul class="online list-unstyled">
	<li>
    	<a class="onlineIco" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$website_config['website_qq']}&site=qq&menu=yes">
        	<i class="fa fa-qq"></i>
        	<div class="onlineCon">在线客服</div>
        </a>
    </li>
	
	<li>
    	<a class="onlineIco" href="#">
        	<i class="fa fa-weixin"></i>
        	<div class="onlineCon">扫码关注</div>
        </a>
        <div class="onlineWx">
        	<img src="{$website_config['website_wechat']}" class="img-responsive">
        </div>
    </li>
	<li class="online_top">
    	<a class="onlineIco" href="javascript:;">
        	<i class="fa fa-arrow-up"></i>
        	<div class="onlineCon">返回顶部</div>
        </a>
    </li>
</ul>

<!-- <script type="text/javascript">document.oncontextmenu = function() {return false;};document.onkeydown = function() {var e = window.event || arguments[0];if (e.keyCode == 123) {return false;} else if ((e.ctrlKey) && (e.shiftKey) && (e.keyCode == 73)) {return false;} else if ((e.shiftKey) && (e.keyCode == 121)) {return false;}else if(event.ctrlKey && window.event.keyCode==85){return false;}};</script> -->