
{include file="public/header" /}

<link rel="stylesheet" href="/static/admin/easyUpload/dist/basic.min.css">
<link rel="stylesheet" href="/static/admin/easyUpload/dist/dropzone.min.css">
<style>
    #filedropzone{
        width: 900px;
        height: 220px;
        margin-left: 200px;
        margin-top: 100px;
        border: 3px dashed green;
        border-radius: 2%;
        box-shadow: 3px 3px 5px #888888;

    }
    #ossfile{
        margin-top: 20px;
    }
    .yue_div{
        display: flex;
        text-align: center;
        height: 40px;
        line-height: 40px;
    }
    .yue_div_ban1{
        width: 100%;
        height: 40px;
        line-height: 40px;
        display: flex;
        text-align: center;
        font-size: 13px;
        background: #141518;
        border-top: 2px solid #000;
        border-bottom: 1px solid #000;
        color: #8c95b0;
    }
    .yue_name1 {
        width: 25%;
    }
    .yue_bit1{
        width: 25%;
    }
    .progress1{
        background-color: inherit;
        margin: 0 !important;
        width: 50%;
        text-align: center;
    }
    .yue_div .yue_name{
        width: 25%;
    }
    .yue_div .yue_bit{
        width: 25%;
    }
    .yue_div dt{
        width: 20%;
        margin: 0 15%;
        display: flex;
        padding: 10px 0;
    }
    .yue_div .progress{
        width: 82%;
        margin:0 5px 0 0;
    }
</style>
<body class="gray-bg">
<link rel="stylesheet" href="/static/admin/layui/css/layui.css" media="all">
    
<div class="wrapper layui-card-body wrapper-content">
    <div class="admin-con">
        <div class="block-box">
            <div class="col-12">
                <div class="block font13 font8c95b0">
                    <p>1.可上传视频</p>
                    <p>2.素材用于混剪的片头片尾使用</p>
                    <p>3.如删除素材，请确认此素材不是正在发布任务状态！否则任务失败！</p>
                    <p>4.因接口限制，素材最大上传为50M！</p>
                    <p style="margin:0">5.<b>建议上传MP4格式视频</b>，受OSS影响其他视频格式不支持预览！</p>
                </div>
            </div>
            
            <div class="col-12">
                <div class="block">
                    <div class="row-fluid" style="margin-top:20px">
                        <div class="row-fluid sortable">
                            <div class="span12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div  class="col-sm-12" >
                                            <div id="container">
                                                <a id="" href="/admin/bdsucai/credits" class='btn'>返回列表</a>
                                                <a id="selectfiles" href="javascript:void(0);" class='btn btn-primary'>选择文件</a>
                                                <a id="postfiles" href="javascript:void(0);" class='btn btn-primary'>开始上传</a>
                                            </div>
                                           
                                            
                                            <div id="ossfile">
                                                
                               	 		        你的浏览器不支持flash,Silverlight或者HTML5！
                               	 		    </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/span-->
                    </div><!--/row-->
                </div>
            </div>
        </div>
    </div>
</div>

    <input type="hidden" id="fid" value="{$_GET['fid']}">
    <input type="hidden" id="accessKeyId" value="{$accessKeyId}">
    <input type="hidden" id="accessKeySecret" value="{$accessKeySecret}">
    <input type="hidden" id="oss_host" value="{$oss_host}">


{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/easyUpload/oss/lib/crypto1/crypto/crypto.js"></script>
<script type="text/javascript" src="/static/admin/easyUpload/oss/lib/crypto1/hmac/hmac.js"></script>
<script type="text/javascript" src="/static/admin/easyUpload/oss/lib/crypto1/sha1/sha1.js"></script>
<script type="text/javascript" src="/static/admin/easyUpload/oss/lib/base64.js"></script>
<script type="text/javascript" src="/static/admin/easyUpload/oss/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/static/admin/easyUpload/oss/upload4.js"></script>
<script>
    $("#go_index").click(function() {
        window.location.href="/admin/bdsucai/index.html";
    })
</script>
</body>
</html>
