{include file="public/header" /}

<body class="gray-bg">
<link rel="stylesheet" href="/static/admin/layui/css/layui.css" media="all">
    
<div class="wrapper layui-card-body wrapper-content">
    <div class="admin-con">
        <div class="block-box">
            <!--添加按钮-->
            <div class="col-12">
                <button type="button" class="btn btn-primary btn-outline" onclick="tianjia()" >新增字幕分类</button>
            </div>
           
            <div class="col-12">
                <div class="block">
                    <table class="table table-bordered table-hover">
                            <thead>
                                <tr class="long-tr">
                                    <th >ID</th>
                                    <th >分类名称</th>
                                  
                                    <th >时间</th>
                                    <th >操作</th>
                                </tr>
                            </thead>
                            <tbody> 
                            {foreach name="list" item="v"}
                            <tr>
                                <td>{$v.id}</td>
                                <td>{$v.uname}</td>
                               
                                <td>{$v.addtime|date='Y-m-d H:i:s',###}</td>
                                <td>
                                <a href="javascript:writing_tianjia({$v.id});" class="btn btn-primary btn-xs"  >
                                               添加</a>
                               
                                <a href="javascript:writing_del({$v.id});" class="btn btn-primary btn-xs"  >
                                               删除</a>
                                <a href="javascript:writing_edit({$v.id});" class="btn btn-primary btn-xs"  >
                                               编辑</a>
                                </td>
                            </tr>
                             {/foreach}
                            </tbody>
                            
                        </table>
                   
                    <div id="AjaxPage" style=" text-align: left;"></div>
                </div>
            </div>
        </div>
    </div>
</div>


{include file="public/footer" /}
<!--添加字幕分类-->
    <div class="modal  fade" id="myModal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" style="width:50%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">添加字幕分类</h4>                  
                </div>
                <form class="form-horizontal" name="add_rule" id="add_rule" method="post" action="{:url('add_writing')}">
                    <div class="ibox-content m-t-md">
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label font13">字幕分类名称：</label>
                                <div class="col-sm-8">
                                    <input type="text" name="uname"  placeholder="分类名称" class="form-control"/>
                                </div>
                            </div>    
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="fladd()"><i class="fa fa-save"></i> 保存</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> 关闭</button>                    
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 编辑分组模态框 -->
     <div class="modal  fade" id="writing_edit" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">编辑字幕</h4>                  
                </div>
                <form class="form-horizontal" name="add_rule" id="add_rule" method="post" action="{:url('edit_updata')}">
                    <input type="hidden" name="id" id="fenzu_id" value="">
                   
                    <div class="ibox-content m-t-md">
                          
                           <div class="form-group">
                                    <label class="col-sm-3 control-label font13 text-r" style="line-height:35px;">请输入字幕：</label>
                                    <div class="input-group col-sm-8">
                                      
                                        <textarea rows="10" cols="50" name="" id="writing_edit_writing" placeholder="" style="resize:none;border:0;padding:5px;font-size:12px"></textarea>
                                        
                                    </div>
                                </div>                     
              
                        </div>
                        <input type="hidden" name="" id="writing_id_writing" value="" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="scfzbc()"><i class="fa fa-save"></i> 保存</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> 关闭</button>                    
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 结束 -->
    <!--添加字幕开始-->
    <div class="modal fade" id="add" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">添加字幕</h4>             
                </div>
                <div class="add-renwu">
                    <div style="padding:5% 0">
                        
                            <form  id="add-renwuform"  >
                                 
                                <div class="form-group">
                                    <label class="col-sm-3 control-label font13 text-r" style="line-height:35px;">请输入字幕：</label>
                                    <div class="input-group col-sm-8">
                                      
                                            <textarea rows="10" cols="50" name="content" id="content" placeholder="多个组名用换行隔开例如：
                                            短视频矩阵
                                            短视频矩阵1
                                            短视频矩阵2" style="resize:none;border:0;font-size:12px;padding:5px;"></textarea>
                                        
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <div class="col-col-sm-offset-3">
                                        <botton class="btn btn-primary ml-30 mt-5"  id='zhida_baocun' onclick="tijiao()" >
                                            确认保存
                                        </botton>
                                    </div>
                                </div>
                                <input type="hidden" name="writing_id" id="writing_id" value="" />
                            </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <!--添加字幕结束-->

<script type="text/javascript">
/*添加分类*/

function fladd(){
   
    uname = $("input[name='uname']").val();
    if(uname ==""){
         layer.msg("请填写分组名称",{icon:2,time:1500,shade: 0.1,}); return false;
    }
    
    $.post('{:url("add_writing")}',
        {uname:uname},
    function(data){
        if(data.code==1){
             layer.msg(data.msg,{icon:1,time:1500,shade: 0.1,});
             setInterval(function(){
              location.reload();
            },1000)
        }else{
            layer.msg(data.msg,{icon:2,time:1500,shade: 0.1,});
        }
    });
    
}
/*编辑*/
 function writing_edit(id){
        $.post('{:url("writing_edit")}',
        {id:id},
     function(data){
         console.log(data)
          $('#writing_edit').modal('show');
          $("#writing_edit_writing").val(data.msg);
          $("#writing_id_writing").val(data.writing_id);
    });
 }
 /*编辑保存*/
 function scfzbc(){
    writing_edit_writing =  $("#writing_edit_writing").val();
    writing_id_writing = $("#writing_id_writing").val();
   $.post('{:url("writing_up")}',
        {writing_edit_writing:writing_edit_writing,writing_id_writing:writing_id_writing},
    function(data){
        if(data.code==1){
           layer.msg(data.msg,{icon:1,time:1500,shade: 0.1,});
            setInterval(function(){
                 location.reload();
                            },1000)
        }else{
            layer.msg(data.msg,{icon:2,time:1500,shade: 0.1,});
        }
    });
 }
 function tianjia(){
      $('#myModal').modal('show');

}
function writing_tianjia(id){
     $("#writing_id").val(id);
    $("#add").modal('show');
}


function tijiao(){
        writing_id =  $("#writing_id").val();
        content = $("#content").val();
        $.post('{:url("writing_tijiao")}',
       {content:content,writing_id:writing_id},
      function(data){
        if(data.code==1){
                layer.msg(data.msg,{icon:1,time:1500,shade: 0.1,});
                setInterval(function(){
                     location.reload();
                
                },1000)
       }else{
            layer.msg(data.msg,{icon:2,time:1500,shade: 0.1,});
       }
     });
    
}
function writing_del(id){
    layer.confirm('您确定要删除分类吗?', {icon: 3, title:'提示'}, function(index){
        $.post('{:url("writing_del")}',
        {id:id},
        function(data){
            if(data.code==1){
                  layer.msg(data.msg,{icon:1,time:1500,shade: 0.1,});
                   setInterval(function(){
                              location.reload();
                            },1000)
            }else{
                layer.msg(data.msg,{icon:2,time:1500,shade: 0.1,});
            }
        });
    })
}


</script>
</body>
</html>