{include file="public/header" /}
   <style type="text/css">
      .div {
    width:98%;
    height:500px;
    margin:-150px auto;
   /* background:#ccc;*/
    position: fixed;
    /*position: inherit;*/
    display: none;

    }
    #animation {
    -webkit-animation:fadeInRight 2s .2s ease both;
    -moz-animation:fadeInRight 2s .2s ease both;
    }
      @-webkit-keyframes fadeInRight {
      0% {
      opacity:0;
      -webkit-transform:translateX(20px)
      }
      100% {
      opacity:1;
      -webkit-transform:translateX(0)
      }
      }
      @-moz-keyframes fadeInRight {
      0% {
      opacity:0;
      -moz-transform:translateX(20px)
      }
      100% {
      opacity:1;
      -moz-transform:translateX(0)
      }
  }

    </style>

<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight">

	  <div class="row">
        <div class="col-sm-2">
            <div class="ibox float-e-margins" style="background:url(/static/admin/images/0d539f8573.png)no-repeat;background-size:100% 100%">
                <div class="ibox-title">
                   
                    <!--<span class="label label-success pull-right">总</span>-->
                    <h5>视频总条数</h5>
                </div>
                <div class="ibox-content" style="text-align: center;">
                    <h1 class="no-margins">{$all_count?$all_count:'0'}</h1>
                   
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins" style="background:url(/static/admin/images/5549c0cc4d.png)no-repeat;background-size:100% 100%">
                <div class="ibox-title">
                   
                    <!--<span class="label label-success pull-right">总</span>-->
                    <h5>视频总点赞量</h5>
                </div>
               <div class="ibox-content" style="text-align: center;">
                    <h1 class="no-margins">{$like_count?$like_count:'0'}</h1>
                 
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins" style="background:url(/static/admin/images/4acf465896.png)no-repeat;background-size:100% 100%">
                <div class="ibox-title">
                  
                    <!--<span class="label label-success pull-right">总</span>-->
                    <h5>视频总曝光量</h5>
                </div>
               <div class="ibox-content" style="text-align: center;">
                    <h1 class="no-margins">{$view_count?$view_count:'0'}</h1>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins" style="background:url(/static/admin/images/6956a08125.png)no-repeat;background-size:100% 100%">
                <div class="ibox-title">
                    <a href="#question">
                       
                    </a>
                  
                    <!--<span class="label label-success pull-right">总</span>-->
                    <h5>视频总分享量</h5>
                </div>
               <div class="ibox-content" style="text-align: center;">
                    <h1 class="no-margins">{$new_share?$new_share:'0'}</h1>
                   
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins" style="background:url(/static/admin/images/bd9abb9f4f.png)no-repeat;background-size:100% 100%">
                <div class="ibox-title">
                    <a href="#question">
                       
                    </a>
                  
                    <!--<span class="label label-success pull-right">总</span>-->
                    <h5>视频总转发量</h5>
                </div>
              <div class="ibox-content" style="text-align: center;">
                    <h1 class="no-margins">{$forward_count?$forward_count:'0'}</h1>
                   
                </div>
            </div>
        </div>
                <div class="col-sm-2">
            <div class="ibox float-e-margins" style="background:url(/static/admin/images/0d539f8573.png)no-repeat;background-size:100% 100%">
                <div class="ibox-title">
                    <a href="#question">
                       
                    </a>
                  
                    <!--<span class="label label-success pull-right">总</span>-->
                    <h5>视频总评论数</h5>
                </div>
               <div class="ibox-content" style="text-align: center;">
                    <h1 class="no-margins">{$comment_count?$comment_count:'0'}</h1>
                   
                </div>
            </div>
        </div>
    </div> 
    <div class="ibox float-e-margins">
       
        <div style="width:100%;margin-top:20px;">
        	<div style="width:100%;margin-top: 10px;">
        	 <div class="row">
                <div class="col-sm-12">   
                    
                    <div class="col-sm-12"> 
                    <form name="admin_list_sea" class="form-search" method="get" action="{:url('index')}">

                        <div class="col-sm-12" style="padding:0;text-align:center;">
                          <div style="display:inline-flex">
                            
                            <select name="fenzuid" id="" class="form-control" style="width:20%;margin:0 10px;">
                                <option value="">账号分组</option>
                               
                            </select>
                            
                            <select name="type" id="" class="form-control" style="width:20%;">
                                <option value="">账号类型</option>
                                <option value="1">抖音</option>
                                <option value="2">西瓜</option>
                                <option value="3">头条</option>
                                <option value="4">快手</option>
                            </select>
                            
                            <select name="shouquan" id="" class="form-control" style="width:20%;margin:0 10px;">
                                <option value="">授权状态</option>
                                <option value="2">正常</option>
                                <option value="1">过期</option>
                            </select>
                            
                            <input type="text" id="key" class="form-control" name="nickname" value="" autocomplete="off" placeholder="请输入用户名搜索" style="display: block;width: 30%" />
                            <button type="submit" class="btn btn-primary" style="border-top-left-radius:0;border-bottom-left-radius:0;height:35px"><i class="fa fa-search"></i> 搜索</button> 
                            <!--<div class="input-group">-->
                                
                            <!--    <div class="input-group-btn"> -->
                                
                            <!--        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button> -->
                            <!--    </div>-->
                            <!--</div>-->
                            
                          </div>

                        </div>
                    </form>  
                    </div>
                    
                    <div  class="col-sm-12" style="text-align:right">
                        <a href="javascript:tianjia();" id="jiediantianjia" ><button class="btn btn-outline btn-primary" type="button">添加账号</button></a> 
                        
                        <!--    <div class="input-group" >  
                      
                          <a href="javascript:tianjia();" data-toggle="modal" data-target="#fenzu_xuan"><button class="btn btn-outline btn-primary" type="button">添加账号</button></a>
                           <a href="javascript:tianjia();" ><button class="btn btn-outline btn-primary" type="button">添加账号</button></a> 
    
                        </div>  -->
                    </div>  
                    
                </div>
            </div>

       	 </div>
       	 	<style type="text/css">
       	 	.float-e-margins{
       	 	    border: 0;
       	 	}
       	 		.liebiao{
       	 			width: 100%;
       	 			display: inline-block;
       	 			height: inherit;
    

       	 		}
       	 		.neirong{
       	 			width: 100%;
       	 			background: #fff;
       	 			margin-left: 0px;
       	 			float: left;
       	 			height: inherit;
       	 			background: #fff;
       	 			padding: 10px 0;
       	 		}
       	 		.neirong1{
       	 			width: 100%;
       	 			height: 50px;
       	 		}
       	 		.neironghead{
       	 		    height: 50px;line-height: 50px;
       	 		    text-align: center;
       	 		    background: rgb(231, 236, 241);
       	 		    color: rgb(130, 142, 154);
       	 		}
       	 		.img_data{
       	 			width: 14%;
       	 			float: left;
       	 			padding-left: 1%;
       	 		}
       	 		.img_data >img{
       	 			border-radius: 50%;
                    width: 45px;
       	 		}
       	 		.topp{
       	 			width: calc(100% - 50px);
                    margin-left: 0;
                    margin-top: 0;
                    height: 45px;
                    overflow: hidden;
                    float: right;
                    line-height: 1.7;
       	 		}
       	 		.neirong2{
       	 			width: 55%;
       	 			float: left;
       	 			margin-left: 2%;
       	 			height: 45px;
       	 		}
       	 		.neirong3{
       	 			width: 16.666%;
       	 			float: left;
       	 			/*border-right: 1px solid #ccc;*/
       	 			text-align: center;
       	 			}
       	 			.p1{
       	 				/*font-weight: bold;*/
       	 				margin: 0;
                        line-height: 45px;
       	 			}
       	 			.neirongdi{
       	 				width: 28%;
       	 				height: 45px;
       	 				float: right;
       	 				text-align: center;
       	 				padding-top: 10px;
       	 			}
       	 			.neirongdidiv{
       	 			    display: flex;
       	 			}
       	 			.red{
       	 				margin-left: 5px;
       	 				border: 1px solid #e8ebf1;
       	 				border-radius: 4px;
                        padding: 2%;
       	 			}
       	 			.red img{
       	 			    width: 20px;
       	 			}
       	 			.red:hover{
       	 			    border:1px solid #ff7752;
       	 			}
       	 			.red {position:relative;}  
       	 			.red:hover:before { 
                    position:absolute; 
                    top:-40px; 
                    left: 0; 
                    width: 80px;
                    height: 40px;
                    line-height: 35px;
                    content:attr(title); 
                    color:#fff; 
                    background:url(/static/admin/images/duihua.png); 
                    background-size: 100% 100%;
                    }
       	 			/*.red:nth-child(3){*/
       	 			/*    float: none;*/
       	 			/*}*/
       	 			.type{
       	 				width: 100%;
       	 				font-size: 14px;
       	 				color: red;
       	 				/*font-weight: bold;
       	 				color: #fff;
       	 				margin-top: 8px;
       	 				display: block;
       	 				float: left;*/
       	 				overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
       	 			}
       	 			.name{
       	 				width: 100%;
                        /*font-weight: bold;*/
                        margin-top: 0;
                        height: 25px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
       	 				
       	 			}


       	 	</style>
       	 <!-- 列表 -->
<div class="liebiao">
    <div  class="neirong">
        <div class="neironghead">
            <div class="neirong1">
       	 		        <div class="img_data">
       	 		            达人
       	 		        </div>
       	 		        <div class="neirong2">
       	 		            <div class="neirong3">
       	 		                视频(总/私)
       	 		            </div>
       	 		            <div class="neirong3">
       	 		                播放
       	 		            </div>
       	 		            <div class="neirong3">
       	 		                点赞
       	 		            </div>
       	 		            <div class="neirong3">
       	 		                评论
       	 		            </div>
       	 		            <div class="neirong3">
       	 		                分享
       	 		            </div>
       	 		            <div class="neirong3">
       	 		                粉丝
       	 		            </div>
       	 		        </div>
       	 		        <div class="neirongdi" style="padding:0">
       	 		            操作
       	 		        </div>
       	 		    </div>
       	    </div>
    </div>
     <div  class="neirong">
               	 	
               	 		<div class="neirong1">
               	 		    
               	 			<div class="img_data">
               	 				<img src="https://p3.douyinpic.com/aweme/100x100/aweme-avatar/tos-cn-i-0813_4a3ff26bc62349d0a310aaad2b829a80.jpeg?from=4010531038">
                                <div class="topp">
                                 <span class="type">抖音</span>
                                 
                           	 	  	
                           	 	  <div class="name">梦在今朝</div>
                    
                           	 	</div>
               	 			</div>
               	 			<div class="neirong2">
               	 				<div class="neirong3">
                                 
                                    <p class="p1">100/30</p>
                                 
               	 				
               	 					<!--<p>视频(总/私)</p>-->
               	 				</div>
               	 				<div class="neirong3">
                                   
                       	 					<p class="p1">45</p>
                                   
               	 					<!--<p>播放</p>-->
               	 				</div>
               	 				<div class="neirong3">
                                  
                                  <p class="p1">1204</p>
                                   
               	 			
               	 					<!--<p>点赞</p>-->
               	 				</div>
               	 				<div class="neirong3">
                                 
                                  <p class="p1">94567</p>
                                  
                      
               	 					
               	 					<!--<p>评论</p>-->
               	 				</div>
               	 				<div class="neirong3">
                          
               	 				
                                  <p class="p1">1894567</p>
                                  
               	 					<!--<p>分享</p>-->
               	 				</div>
                                <div class="neirong3">
                                
                                  <p class="p1">45678</p>
                                 
                                  
                                  <!--<p>粉丝</p>-->
                                </div>
               	 				
               	 			</div>
               	 			<div class="neirongdi">
               	 				
               	 						<a class="red" href="{:url('video/single')}" title="发布视频">
                                        <!--<div id="kaiqi" ><span class="label label-primary" style="font-size:15px">发布视频</span></div>-->
                                        <img src="/static/admin/images/fabu.png">
                                    </a>
                                    <a class="red" href="{:url('splb')}?id={}" title="我的作品">
                                        <!--<div id=""><span class="label label-primary" style="font-size:15px">作品</span></div>-->
                                        <img src="/static/admin/images/zuopin.png">
                                    </a>
                                    <a class="red" href="{:url('shipinku')}?id={}" title="视频库">
                                        <!--<div id=""><span class="label label-success" style="font-size:15px">视频库</span></div>-->
                                        <img src="/static/admin/images/videoku.png">
                                    </a>
                                    <a class="red" href="javascript:jilu({})" title="任务日志">
                                        <!--<div id=""><span class="label label-warning" style="font-size:15px">任务日志</span></div>-->
                                        <img src="/static/admin/images/rizhi.png">
                                    </a>
                                    <a class="red" href="javascript:del_del({})" title="删除">
                                        <!--<div id=""><span class="label label-danger" style="font-size:15px">删除</span></div>-->
                                        <img src="/static/admin/images/shan.png">
                                    </a>
               	 			</div>
               	 		</div>
        
               	 	</div>		    
   

 
    <script type="text/javascript">
        function fabu(id){
         // document.getElementById('chuangkou').click();
        }
    </script>
       	 	
       	 


       	 </div>
       	 <!-- 结束 -->
       
        </div>
        <!-- 模态框开始 -->
         <div class="modal  fade" id="myModal" tabindex="-1" role="dialog"  aria-hidden="true" style="margin-top:160px">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <a  href="{:url('shouquan')}?id=1" target="view_window" class="btn btn-primary" style="margin-left: 2px;width: 24%;float: left;" id="dou1yin"> 抖音</a>  
  <a href="{:url('shouquan')}?id=2" target="view_window" class="btn btn-primary" style="margin-left: 2px;width: 24%;float: left;" id="xigua"> 西瓜</a>  
  <a href="{:url('shouquan')}?id=3" target="view_window" class="btn btn-primary" style="margin-left: 2px;width: 24%;float: left;" id="toutiao"> 头条</a>  
  <a href="{:url('shouquan')}?id=4" target="view_window" class="btn btn-primary" style="margin-left: 2px;width: 24%;float: left;" id="kuaishou"> 快手</a>      
                </div>
                
            </div>
        </div>
    </div>
        <!-- 模态框结束 -->

    </div>
</div>

  <!-- 选择分组模态框 -->
         <div class="modal  fade" id="fenzu_xuan" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title">添加账号之前请选择分组</h3>                  
                </div>
               <!--  <form class="form-horizontal" name="add_rule" id="add_rule" method="post" action="" > -->
                    <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-r" style="line-height:35px;">选择分组</label>
                                <div class="col-sm-8">                                                      
                                    <select name="fenzu" id="select1" class="form-control m-b">
                                       
                                         
                                    </select>                                    
                                </div>

        
                            </div>
                          <!--   <input type="file" name="" value="上传" style="display:none" id="douyinzi"> -->
                            <div style="width: 100%;margin-top: 60px;margin-bottom: 100px;">
    
        <a  href="javascript:browse();"   class="btn btn-primary" style="margin-left: 40px;width: 50%;float: left;" id="douyinzi"> 立即添加</a>
   
   
  
   
                            </div>

                        </div>
                    <div class="modal-footer">
                       <!--  <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#myModal" >确认选择</button> -->
                                         
                    </div>
               <!--  </form> -->
            </div>
        </div>
    </div>
        <!-- 选择分组模态框结束 -->
        <!-- 记录模态框 -->
 <div class="modal  fade" id="jilu" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" style="margin-left: 42px;">
            <div class="modal-content" style="width:1200px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">发布记录</h4>                  
                </div>
               <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th>ID</th>
                                <th>账号</th>
                                <th>日志信息</th>
                               
                                <th>时间</th>
                                <th>状态</th>
                            </tr>
                        </thead>
                        
                        <tbody id="article_list" class="jilu">
                            
                        </tbody>
                    </table>
                    <div id="AjaxPage" style=" text-align: right;"></div>
                    <div id="allpage" style=" text-align: right;"></div>
                </div>
            </div>
        </div>
    </div>
<!-- 记录模态框结束 -->
<input type="hidden" name="jiedian" id="" value="{$tianjia}" />
{include file="public/footer" /}
<script type="text/javascript">
  //任务日志 //data-toggle="modal" data-target="#jilu"

/**
 * 判断是从哪里过来的链接
*/
$(function(){
  jiedian =  $("input[name='jiedian']").val();
  if(jiedian==2){
      document.getElementById('jiediantianjia').click();
  }
})

  function jilu(id){
    
    $("#jilu").modal('show');
     $.post('{:url("jilu")}',
     {id:id},
    function(data){
        $(".jilu").html('');
   
        var html="";
        console.log(data)
                $.each(data, function (key, value) {
                    if(value.status==1){
                        html = "<tr  style='text-align: center;'>"
                            +"<td>"+value.id+"</td>"
                            +"<td>"+value.username+"</td>"
                            +"<td>"+value.count+"</td>"
                            +"<td>"+value.addtime+"</td>"
                            +"<td>"+'发布失败'+"</td>"
                        +"</tr>" ;
                        $(".jilu").append(html);
                    }else{
                        html ="<tr  style='text-align: center;'>"
                            +"<td>"+value.id+"</td>"
                            +"<td>"+value.username+"</td>"
                            +"<td>"+value.count+"</td>"
                            +"<td>"+value.addtime+"</td>"
                            +"<td>"+'发布成功'+"</td>"
                            +"</tr>";
                        $(".jilu").append(html);
                    }  
                 }); 
    });
}
/**
 * 获取分组
*/

function tianjia(){
   $.post('{:url("qyqx")}',
       {},
      function(data){
        var html = "";
          if(data.code==1){
               
            $.each(data.msg, function (key, value) {
                html = "<option value="+value.id+">"
                +value.fzname
                +"</option>";
                $("#select1").append(html);
            }); 
            $('#fenzu_xuan').modal('show');
          }else if(data.code==3){
              layer.msg(data.msg,{icon:2,time:1500,shade: 0.1,});
                 timer = setInterval(function(){
                  window.location.href="{:url('qyhfz')}";
                   clearInterval(timer)
                },2000)
              
          }else{
               layer.msg(data.msg,{icon:2,time:1500,shade: 0.1,});
          }
     });
}
/**
 * 点击立即添加 跳转
*/
function browse()
{
 
  fenzu = $("#select1  option:selected").val();
   $('#douyinzi').attr({"href":"{:url('/admin/userinfo/shouquan')}?id=1&fenzu="+fenzu,'target':'view_window'});
   document.getElementById('douyinzi').click();
//   if(fenzu ==null || fenzu=='' || fenzu== 'nudefinde'){
//      layer.msg('请先添加账号分组',{icon:2,time:1500,shade: 0.1,});
//   }else{

//     $('#douyinzi').attr("href","{:url('shouquan')}?id=1&fenzu="+fenzu);
//     document.getElementById('douyinzi').click();
//   }
 
}

function del_del(id){
  $.post('{:url("quanxian_del")}',
       {},
      function(data){
          if(data.code==1){
           layer.confirm('您确定要删除此账号吗？，删除账号可能会导致任务发送失败', {icon: 3, title:'提示'}, function(index){
                $.post('{:url("del_user")}',{id:id},function(data){
                   if(data.code==1){
                      layer.msg(data.msg,{icon:1,time:1500,shade: 0.1,});
                        setInterval(function(){
                          location.reload();
                        },1000)
                   }else{
                    layer.msg(data.msg,{icon:2,time:1500,shade: 0.1,});
                     
                   }
                })
            })
          }else{
               layer.msg(data.msg,{icon:2,time:1500,shade: 0.1,});
                      setInterval(function(){
                          location.reload();
                        },1000)
          }
     });
}

</script>
</body>
</html>