<style type="text/css">
    .recomm_keyword,.no_recomm_keyword{background: #3ca793;padding: 5px ;margin-bottom: 10px;margin-right: 10px;color: #fff;display: inline-block;cursor: pointer;}
     .delete_keyword{margin-left: 5px;color: #ccc;}
     .radio label{margin-bottom: 5px;}
     .jianji_type {display: inline-block;border: 1px solid #fff;padding: 8px 20px;border-radius: 3px;cursor: pointer;}
     .jianji_type_active,.jianji_type:hover{background: #6f6f6f;}
     .jianji_type_content{display: none;}
     .nr-menu-item-group-title {padding: 0;background: #4c4c4c!important;height: 1px;width: 80%;margin: 10px auto;margin-bottom: 20px;}
     .red{color: red;margin-right: 5px;font-size: 16px;vertical-align: middle;}
     .subtitle_font_eg{font-size: 24px;font-weight: initial;letter-spacing: 2px;color: #000;}
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group" style="margin-top: 20px;">
        <label class="control-label col-xs-12 col-sm-2"><span class="red">*</span>任务名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" maxlength='20' type="text" value="{$row ? $row.title : ''}" placeholder="随意取一个名字吧">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">视频配音BGM:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-bg_audio" class="form-control" size="50" name="row[bg_audio]" type="text" readonly="readonly" value="{$row ? $row.bg_audio : ''}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-bg_audio" class="btn btn-danger faupload" data-input-id="c-bg_audio" data-mimetype="audio/mpeg,audio/ogg,audio/wav,audio/mp3" data-multiple="true" data-preview-id="p-bg_audio"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-bg_audio" class="btn btn-primary fachoose" data-input-id="c-bg_audio" data-mimetype="audio/mpeg,audio/ogg,audio/wav,audio/mp3" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-bg_audio"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-bg_audio"></ul>
            <p style="margin-top:5px;color:#888;">音乐格式支持：MP3、ogg、wav</p>
        </div>
    </div>
    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">BGM音量:</label>
        <div class="col-xs-12 col-sm-5">
            <input id="range" type="range" min="1" max="10" value="{$row ? $row.bg_volume : 10}" name="row[bg_volume]" onchange="change()" style="display:inline-block;width: 90%;">
            <span id="value" style="display:inline-block;font-size: 16px;">{$row ? $row.bg_volume : 10}</span>
            <p style="margin-top:5px;color:#888;">默认10为原始音量，需要调节低音量请调节</p>
        </div>
    </div>

    <div class="nr-menu-item-group-title"></div>

    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">视频片头:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-start_video" class="form-control" size="50" name="row[start_video]" type="text" readonly="readonly" value="{$row ? $row.start_video : ''}" >
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-start_video" class="btn btn-danger faupload" data-input-id="c-start_video" data-mimetype="video/webm,video/mp4,video/ogg,MOV" data-multiple="true" data-preview-id="p-start_video"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-start_video" class="btn btn-primary fachoose" data-input-id="c-start_video" data-mimetype="video/webm,video/mp4,video/ogg,MOV" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-start_video"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-start_video"></ul>
            <span style="margin-top:5px;display:block;">视频时长在5-20秒最佳</span>
            <span style="color:#999;display:block;">视频格式支持：MP4、ogg、WebM、mov ; </span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><span class="red">*</span>视频随机素材:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-video1" class="form-control" size="50" name="row[video1]" type="text" readonly="readonly" value="{$row ? $row.video1 : ''}" data-rule="required">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-video1" class="btn btn-danger faupload" data-input-id="c-video1" data-mimetype="video/webm,video/mp4,video/ogg,image/gif,image/jpeg,image/png,image/jpg,image/bmp,MOV" data-multiple="true" data-preview-id="p-video1"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-video1" class="btn btn-primary fachoose" data-input-id="c-video1" data-mimetype="video/webm,video/mp4,video/ogg,MOV" data-multiple="true"> {:__('Choose')}视频</button></span>
                    <span><button type="button" id="fachoose-video1" class="btn btn-primary fachoose" data-input-id="c-video1" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmpg" data-multiple="true">{:__('Choose')}图片</button></span>
                </div>
                <span class="msg-box n-right" for="c-video1"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-video1"></ul>
            <span style="margin-top:5px;display:block;">可上传多个视频与图片随机混剪，每个视频时长应该在5秒以上</span>
            <span style="color:#999;display:block;">视频格式支持：MP4、ogg、WebM、mov ; 图片格式支持：jpg、png、jpeg</span>
        </div>
    </div>


    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">视频片尾:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-end_video" class="form-control" size="50" name="row[end_video]" type="text" readonly="readonly" value="{$row ? $row.end_video : ''}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-end_video" class="btn btn-danger faupload" data-input-id="c-end_video" data-mimetype="video/webm,video/mp4,video/ogg,MOV" data-multiple="true" data-preview-id="p-end_video"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-end_video" class="btn btn-primary fachoose" data-input-id="c-end_video" data-mimetype="video/webm,video/mp4,video/ogg,MOV" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-end_video"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-end_video"></ul>
            <span style="margin-top:5px;display:block;">视频时长在5-20秒最佳</span>
            <span style="color:#999;display:block;">视频格式支持：MP4、ogg、WebM、mov ; </span>
        </div>
    </div>

    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">视频原声音量:</label>
        <div class="col-xs-12 col-sm-5">
            <input id="range_video_volume" type="range" min="0" max="10" value="{$row ? $row.video_volume : 0}" name="row[video_volume]" onchange="change_video_volume()" style="display:inline-block;width: 90%;">
            <span id="value_video_volume" style="display:inline-block;font-size: 16px;">{$row ? $row.video_volume : 0}</span>
            <p style="margin-top:5px;color:#888;">默认0为关闭原声，需要调节低音量请调节</p>
        </div>
    </div>

    <div class="nr-menu-item-group-title"></div>

    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">字幕横幅:</label>
        <div class="col-xs-12 col-sm-8">
            <!-- <input id="c-subtitle"  class="form-control" name="row[subtitle]" type="text"  maxlength='20' value="{$row ? $row.subtitle : ''}" placeholder="请输入全程字幕，建议10-20个字"> -->
            <textarea id="c-subtitle" class="form-control " rows="5" name="row[subtitle]" cols="20" placeholder="通过换行，输入多段随机横幅，每段在20个字内">{$row ? $row.subtitle : ''}</textarea>
            <p style="margin-top:5px;color:#888;">* 每行一段横幅，换行增加新的随机横幅，系统随机取一段，每段在20-30个字左右</p>
            <p style="margin-top:0px;color:#888;">* 如需要每段横幅换行展示，请用逗号隔开，最多换行展示4行</p>
            <p style="margin-top:0px;color:#888;">例如：厂家直销，全国有货源 （此案例用逗号隔开，会展示两行文字）</p>
        </div>
    </div>
    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">字幕字体:</label>
        <div class="col-xs-12 col-sm-6">
            <div class="select select_diy select_subtitle" id="select_subtitle" tabindex="1">
                
                <label for="opt2" class="select_subtitle_option option" data-value="微软雅黑">默认字体</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:bdt;" data-value="bdt">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:mmdt;" data-value="mmdt">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:mqrtt;" data-value="mqrtt">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:zgzh;" data-value="zgzh">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:xklt;" data-value="xklt">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:fzxft;" data-value="fzxft">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:jyh;" data-value="jyh">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:zkcjh;" data-value="zkcjh">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:xyh;" data-value="xyh">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:lmzyt;" data-value="lmzyt">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:jjcjh;" data-value="jjcjh">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:yqllt;" data-value="yqllt">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:fyh;" data-value="fyh">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:xbl;" data-value="xbl">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:yrh;" data-value="yrh">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:flh;" data-value="flh">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:yycsh;" data-value="yycsh">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:xylht;" data-value="xylht">举头望明月，低头思故乡</label>

                <label for="opt1" class="select_subtitle_option option" style="font-family:dlt;" data-value="dlt">举头望明月，低头思故乡</label>

                <label for="opt2" class=" select_subtitle_option_end option" style="position: relative;font-size: 16px;" data-value="">选择字体</label>

                <input type="hidden" class="subtitle_font" name="row[subtitle_font]" value="">
            </div>

            
        </div>
        <div class="col-xs-12 col-sm-1" >
            <input type="color" name="row[subtitle_color]" class="subtitle_color" style="height: 40px;" value="">
        </div>
    </div>
    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">边框/字大小/位置</label>
        <div class="col-xs-12 col-sm-3" >
            <input id="c-subtitle_outline" data-rule="range(0~5)" class="form-control" name="row[subtitle_outline]"  type="number" value="" placeholder="边框大小,建议：1-4">
        </div>
        <div class="col-xs-12 col-sm-1" >
            <input type="color" name="row[subtitle_outline_color]" class="subtitle_outline_color" style="height: 33px;" value="">
        </div>
        <div class="col-xs-12 col-sm-3" >
            <input id="c-subtitle_site" data-rule="range(70~120)" class="form-control" name="row[subtitle_site]"  type="number" value="" placeholder="字体大小,建议：80-110">
        </div>
        <div class="col-xs-12 col-sm-3" >
            <input id="c-subtitle_site" data-rule="range(10~80)" class="form-control" name="row[subtitle_site]"  type="number" value="" placeholder="距离顶部百分比">
        </div>
    </div>
    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-7" style="background:#fff;margin-left: 2%;">
            <label class="subtitle_font_eg">举头望明月，低头思故乡</label>
        </div>
    </div>
    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">横幅位置:</label>
        <div class="col-xs-12 col-sm-7">
            <div class="radio">
                <label>
                    <input type="radio" name="row[alignment]"  {if ($row && $row.alignment=='') || !$row}checked{/if} value="">随机
                </label>
                <label>
                    <input type="radio" name="row[alignment]" {if ($row && $row.alignment=='TopCenter')}checked{/if} value="TopCenter">顶部横幅
                </label>
                <label>
                    <input type="radio" name="row[alignment]" {if ($row && $row.alignment=='CenterCenter')}checked{/if} value="CenterCenter">居中横幅
                </label>
                <label>
                    <input type="radio" name="row[alignment]" {if ($row && $row.alignment=='BottomCenter')}checked{/if} value="BottomCenter">底部横幅
                </label>
            </div>
        </div>
    </div>

    <div class="nr-menu-item-group-title jianji_type_content"></div>

    <!-- <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">字幕颜色:</label>
        <div class="col-xs-12 col-sm-8">
            <label>
                <input type="radio" name="row[sound_type]" {if ($row && $row.sound_type=='white_grad')}checked{/if} value="white_grad"> 
                <img src="https://help-static-aliyun-doc.aliyuncs.com/assets/img/zh-CN/4238045461/p406887.png" />
            </label>
        </div>
    </div> -->
    

    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">语音解说:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-sound_text"  class="form-control " rows="5" name="row[sound_text]" cols="20" placeholder="请输入全程的语音解说，如开启解说模式，建议把BGM音量调低，多段语音用换行" >{$row ? $row.sound_text : ''}</textarea>
            <p style="margin-top:5px;color:#888;" class="sound_text_time">时长预估：10个字预计2.5秒</p>
            <p style="color:#888;">注意：通过换行可以随机多段解说，如开启解说模式，建议把BGM音量调低</p>
        </div>
    </div>

    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">解说字幕:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label >
                    <input type="radio" name="row[open_subtitle]"  {if ($row && $row.open_subtitle==1) || !$row}checked{/if} value="1">开启
                </label>
                <label>
                    <input type="radio" name="row[open_subtitle]" {if ($row && $row.open_subtitle==0)}checked{/if} value="0">关闭
                </label>
            </div>
        </div>
    </div>

    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">字幕位置:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label>
                    <input type="radio" name="row[subtitle_alignment]"  {if ($row && $row.subtitle_alignment=='') || !$row}checked{/if} value="">随机
                </label>
                <label>
                    <input type="radio" name="row[subtitle_alignment]" {if ($row && $row.subtitle_alignment=='TopCenter')}checked{/if} value="TopCenter">顶部字幕
                </label>
                <label>
                    <input type="radio" name="row[subtitle_alignment]" {if ($row && $row.subtitle_alignment=='CenterCenter')}checked{/if} value="CenterCenter">居中字幕
                </label>
                <label>
                    <input type="radio" name="row[subtitle_alignment]" {if ($row && $row.subtitle_alignment=='BottomCenter')}checked{/if} value="BottomCenter">底部字幕
                </label>
            </div>
        </div>
    </div>

    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">解说语音包:</label>
        <div class="col-xs-12 col-sm-10">
            <div class="radio">
                <label>
                    <input type="radio" name="row[sound_type]" {if ($row && $row.sound_type=='aiyue') || !$row}checked{/if} value="aiyue">艾悦 
                    <a href="https://ice-pub-media.myalicdn.com/smart/tts-audio/aiyue.MP3?spm=a2c4g.11186623.0.0.e3ef30b1koMnqv&file=aiyue.MP3" target="_blank">[温柔女]</a>
                </label>
                <label>
                    <input type="radio" name="row[sound_type]" {if ($row && $row.sound_type=='zhitian')}checked{/if} value="zhitian">知甜 
                    <a href="https://ice-pub-media.myalicdn.com/smart/tts-audio/zhitian.MP3?spm=a2c4g.11186623.0.0.e3ef30b1koMnqv&file=zhitian.MP3" target="_blank">[甜美女]</a>
                </label>
                <label>
                    <input type="radio" name="row[sound_type]" {if ($row && $row.sound_type=='xiaoyun')}checked{/if} value="xiaoyun">小云 
                    <a href="https://ice-pub-media.myalicdn.com/smart/tts-audio/xiaoyun.MP3?spm=a2c4g.11186623.0.0.e3ef30b1koMnqv&file=xiaoyun.MP3" target="_blank">[标准女]</a>
                </label>
                <label>
                    <input type="radio" name="row[sound_type]" {if ($row && $row.sound_type=='ruoxi')}checked{/if} value="ruoxi">若兮 
                    <a href="https://ice-pub-media.myalicdn.com/smart/tts-audio/ruoxi.MP3?spm=a2c4g.11186623.0.0.e3ef30b1koMnqv&file=ruoxi.MP3" target="_blank">[标准女]</a>
                </label>
                <label>
                    <input type="radio" name="row[sound_type]" {if ($row && $row.sound_type=='jiajia')}checked{/if} value="jiajia">佳佳 
                    <a href="https://ice-pub-media.myalicdn.com/smart/tts-audio/jiajia.MP3?spm=a2c4g.11186623.0.0.e3ef30b1koMnqv&file=jiajia.MP3" target="_blank">[粤语女]</a>
                </label>
                <label>
                    <input type="radio" name="row[sound_type]" {if ($row && $row.sound_type=='aiwei')}checked{/if} value="aiwei">艾薇 
                    <a href="https://ice-pub-media.myalicdn.com/smart/tts-audio/aiwei.MP3?spm=a2c4g.11186623.0.0.e3ef30b1koMnqv&file=aiwei.MP3" target="_blank">[萝莉女]</a>
                </label>
                <label>
                    <input type="radio" name="row[sound_type]" {if ($row && $row.sound_type=='zhiqing')}checked{/if} value="zhiqing">知青 
                    <a href="https://ice-pub-media.myalicdn.com/smart/tts-audio/zhiqing.MP3?spm=a2c4g.11186623.0.0.e3ef30b1koMnqv&file=zhiqing.MP3" target="_blank">[台湾女]</a>
                </label>

                <label>
                    <input type="radio" name="row[sound_type]"  {if ($row && $row.sound_type=='aida')}checked{/if} value="aida">艾达 
                    <a href="https://ice-pub-media.myalicdn.com/smart/tts-audio/aida.MP3?spm=a2c4g.11186623.0.0.e3ef30b1koMnqv&file=aida.MP3" target="_blank">[标准男]</a>
                </label>
                <label>
                    <input type="radio" name="row[sound_type]" {if ($row && $row.sound_type=='aishuo')}checked{/if} value="aishuo">艾硕 
                    <a href="https://ice-pub-media.myalicdn.com/smart/tts-audio/aishuo.MP3?spm=a2c4g.11186623.0.0.e3ef30b1koMnqv&file=aishuo.MP3" target="_blank">[自然男]</a>
                </label>
                <label>
                    <input type="radio" name="row[sound_type]" {if ($row && $row.sound_type=='xiaoze')}checked{/if} value="xiaoze">小泽 
                    <a href="https://ice-pub-media.myalicdn.com/smart/tts-audio/xiaoze.MP3?spm=a2c4g.11186623.0.0.e3ef30b1koMnqv&file=xiaoze.MP3" target="_blank">[湖南男]</a>
                </label>
                <label>
                    <input type="radio" name="row[sound_type]" {if ($row && $row.sound_type=='kenny')}checked{/if} value="kenny">Kenny 
                    <a href="https://ice-pub-media.myalicdn.com/smart/tts-audio/kenny.MP3?spm=a2c4g.11186623.0.0.e3ef30b1koMnqv&file=kenny.MP3" target="_blank">[沉稳男]</a>
                </label>
                <label>
                    <input type="radio" name="row[sound_type]" {if ($row && $row.sound_type=='jielidou')}checked{/if} value="jielidou">杰力豆 
                    <a href="https://ice-pub-media.myalicdn.com/smart/tts-audio/jielidou.MP3?spm=a2c4g.11186623.0.0.e3ef30b1koMnqv&file=jielidou.MP3" target="_blank">[童声男]</a>
                </label>
            </div>
        </div>
    </div>

    <div class="nr-menu-item-group-title jianji_type_content"></div>


    <div class="form-group ">
        <label class="control-label col-xs-12 col-sm-2"><span class="red">*</span>视频尺寸:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label >
                    <input type="radio" name="row[view_size]"  {if ($row && $row.view_size==1) || !$row}checked{/if} value="1">手机竖屏版
                </label>
                <label>
                    <input type="radio" name="row[view_size]" {if ($row && $row.view_size==2)}checked{/if} value="2">电脑横屏版
                </label>
            </div>
        </div>
    </div>

    

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><span class="red">*</span>剪辑视频数:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-video_count" data-rule="required;range(1~100)" class="form-control" name="row[video_count]" type="number" maxlength="2" value="{$row ? $row.video_count : 1}" placeholder="剪辑视频数">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><span class="red">*</span>预计时长(秒):</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-video_time" data-rule="required;range(5~120)" class="form-control" name="row[video_time]" type="number" maxlength="2" value="{$row ? $row.video_time : 30}" placeholder="视频时长">
        </div>
    </div>

    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">定制时长(秒):</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-start_duration" data-rule="range(0~60)" class="form-control" name="row[start_duration]" type="number" maxlength="2" value="{$row ? $row.start_duration : ''}" placeholder="片头时长">
        </div>
        <div class="col-xs-12 col-sm-3">
            <input id="c-video_duration" data-rule="range(0~60)" class="form-control" name="row[video_duration]" type="number" maxlength="2" value="{$row ? $row.video_duration : ''}" placeholder="随机素材时长">
        </div>
        <div class="col-xs-12 col-sm-2">
            <input id="c-end_duration" data-rule="range(0~60)" class="form-control" name="row[end_duration]" type="number" maxlength="2" value="{$row ? $row.end_duration : ''}" placeholder="片尾时长">
        </div>

    </div>
    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <div style="margin-top:5px;color:#888;">填写了定制时长，时长以定制时长为准，预计时长作为备用预计时长</div>
        </div>

    </div>

    <input type="hidden" name="row[type]" value="1">

    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">视频封面(秒):</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-cover_time" data-rule="range(0~300)" class="form-control" name="row[cover_time]" type="number" maxlength="3" value="{$row ? $row.cover_time : ''}" placeholder="视频封面（秒）">
        </div>
        <div style="margin-top:5px;color:#888;">封面图位于成片的第几秒，填0为随机封面</div>
    </div>

    <!-- <div class="form-group jianji_type_content" style="display: none;">
        <label class="control-label col-xs-12 col-sm-2">随机开幕:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label>
                    <input type="radio" name="row[start_open]" {if ($row && $row.start_open==1)}checked{/if} value="1">开启
                </label>
                <label>
                    <input type="radio" name="row[start_open]" {if ($row && $row.start_open==0) || !$row}checked{/if} value="0">关闭
                </label>
            </div>
        </div>
    </div> -->

    <div class="nr-menu-item-group-title jianji_type_content"></div>

    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">随机转场:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label>
                    <input type="radio" name="row[transition_open]" {if ($row && $row.transition_open==1) || !$row}checked{/if} value="1">开启
                </label>
                <label>
                    <input type="radio" name="row[transition_open]" {if ($row && $row.transition_open==0)}checked{/if} value="0">关闭
                </label>
            </div>
        </div>
    </div>
    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">随机滤镜:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label>
                    <input type="radio" name="row[filter_open]" {if ($row && $row.filter_open==1)}checked{/if} value="1">开启
                </label>
                <label>
                    <input type="radio" name="row[filter_open]" {if ($row && $row.filter_open==0) || !$row}checked{/if} value="0">关闭
                </label>
            </div>
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">画面贴纸:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label>
                    <input type="radio" name="row[sticker_open]" checked value="1">开启
                </label>
                <label>
                    <input type="radio" name="row[sticker_open]"  value="0">关闭
                </label>
            </div>
        </div>
    </div> -->
    <div class="form-group jianji_type_content">
        <label class="control-label col-xs-12 col-sm-2">随机画面特效:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label>
                    <input type="radio" name="row[stars_open]" {if ($row && $row.stars_open==1)}checked{/if} value="1">开启
                </label>
                <label>
                    <input type="radio" name="row[stars_open]" {if ($row && $row.stars_open==0) || !$row}checked{/if} value="0">关闭
                </label>
            </div>
        </div>
    </div>


    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed " >{:__('OK')}</button>
        </div>
    </div>

</form>

<script type="text/javascript" src='/storeadmin2/libs/jquery/dist/jquery.min.js?v=162913148'></script>

