{include file="public/header" /}

<style>
    .onetop{
        width: 100%;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 30px;

    }
    .col-sm-12{
        width: 30%;
      
        float: left;
    }
    .col-sm-12 > form > input{
        width: 200px;
        float: left;
        margin-left: 20px;
        border: 1px  solid #ccc;
        border-radius: 20px;
    }
    .col-sm-12 > form > button{
        width: 100px;
        height: 34px;
        font-size: 17px;
        text-align: center;
        border-radius: 20px;
        line-height: 17px;
        margin-left: 20px;

    }
    .top2{
        width: 30%;
        float: right;
        margin-right: 20px;


    }
/*    .top2 > button{
        border-radius: 5px;
        margin-left: 10px;
        background: #23c6c8;
        color: #fff;
        line-height: 20px;
        margin-top: 8px;

    }
    .top2 > button:hover{
          background: #23c6c8;
          color: #fff;
    }*/
    .bodefr{
       border-radius: 5px;
        margin-left: 10px;
        background: #23c6c8;
        color: #fff;
        line-height: 20px;
        margin-top: 8px; 
    }
    .bodefr:hover{
            background: #23c6c8;
            color: #fff;
    }
    .delr{
         line-height: 20px;
        margin-top: 8px; 
        color: #fff;
         border-radius: 5px;
        background: #ed5565;
    }
    .delr:hover{
         background: #ed5565;
          color: #fff;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- jieshu -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>关键词列表</h5>
        </div>
        <div class="onetop">              
              <div class="col-sm-12">   
                                                       
                <form name="admin_list_sea" class="form-search" method="post" action="{:url('index')}">
                    <input type="text"  class="form-control" name="yhm" value="" placeholder="输入用户名" />   
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button> 
                </form>                         
            </div>
        <div class="ibox-content">
            <!--搜索框开始-->           
             
            <!--搜索框结束-->
          <!--  <div class="top2"> -->

           <!--   <button class="btn  btn-xs  delr" href="javascript:;" id=""><i class="fa  fa-trash"></i>删除</button>
             <button class="btn btn-xs  bodefr" href="javascript:;" id=""><i class="fa  fa-edit"></i>导入网站</button>

             <button class="btn btn-xs bodefr" href="javascript:;" id=""><i class="fa fa-download"></i>下载模板</button>
             <a class="btn btn-xs bodefr" href="{:url('add_website')}" id=""><i class="fa fa-font-awesome"></i>新增网站</a> 
             <button class="btn btn-xs bodefr" href="javascript:;" id=""><i class="fa   fa-font-awesome-edit"></i>导出</button> -->
           <!--  </div> -->
     </div>
            <!--搜索框结束-->


            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                              
                                <th>域名</th>
                                <th>网站名称</th>
                                <th>所属用户</th>
                               
                                <th>添加时间</th>
                                <th>关键词数量</th>
                                <th>今日达标</th>
                                <th>今日消费<i class="fa fa-long-arrow-down"></i><i class="fa fa-long-arrow-up"></i></th>
                                <th>累计消费<i class="fa fa-long-arrow-down"></i><i class="fa fa-long-arrow-up"></i></th>
                                <th>状态</th>
                              
                                <th>操作</th>
                            </tr>
                            
                        </thead>
                         {foreach name="list" item="vo"}
                         <tr class="long-tr" style="text-align:center">
                               <td>{$vo.website_url}</td>
                               <td>{$vo.website}</td>
                               <td>{$vo.username}</td>
                               <td>{$vo.addtime|default=time()|date='Y-m-d:H-i-s',###}</td>
                               <td>{$vo.coun}</td>
                               <td>1</td>
                               <td>1</td>
                               <td>1元</td>
                             <!--   <td>4元</td> -->
                               
                               <td>
                                {if $vo.website_status=='1'}
                                        <a class="red" href="javascript:;" onclick="website_da({$vo.id});" >
                                                <div id=""><span class="label label-info">开启</span></div>
                                            </a>
                                  {else /}
                                   <a class="red" href="javascript:;" onclick="website_da({$vo.id});">
                                                <div id=""><span class="label label-danger">禁用</span></div>
                                            </a>
                                  {/if}
                                   
                               </td>
                               <td>

                                   <a href="{:url('website_edit')}?id={$vo.id}"  class="btn btn-primary btn-xs">
                                           编辑</a>&nbsp;&nbsp;
                                            <a href="{:url('website_add_we')}?id={$vo.id}"  class="btn btn-primary btn-xs">
                                            添加关键词</a>&nbsp;&nbsp;
                                        {if $auth ==1}
                                        <a href="javascript:;" onclick="userDel({{d[i].id}})" class="btn btn-danger btn-xs">
                                             删除</a>
                                             {else /}
                                             {/if}
                                   
                               </td>
                            </tr>
                           {/foreach}
                          
                        <tbody id="article_list"></tbody>
                    </table>
                    <div id="AjaxPage" style=" text-align: right;"></div>
                    <div id="allpage" style=" text-align: right;">{$page}</div>
                </div>
              
                  <a href="{:url('list')}?ye= 10"><span class="label label-info">10</span></a>
                  <a href="{:url('list')}?ye= 20"> <span class="label label-info">20</span></a>
                 <a href="{:url('list')}?ye= 50">  <span class="label label-info">50</span></a>
                 <a href="{:url('list')}?ye= 100">  <span class="label label-info">100</span></a>
            </div>
           <!-- kaishi -->
        </div>
    </div>
</div>
<!-- kaishi -->




{include file="public/footer" /}

<script type="text/javascript">
   
    /**
     * [Ajaxpage laypage分页]
     * @param {[type]} curr [当前页]
     */
    function Ajaxpage(curr){
        var key=$('#key').val();
        $.getJSON('{:url("User/index")}', {
            page: curr || 1,key:key
        }, function(data){      //data是后台返回过来的JSON数据
            $(".spiner-example").css('display','none'); //数据加载完关闭动画 
            if(data==''){
                $("#article_list").html('<td colspan="20" style="padding-top:10px;padding-bottom:10px;font-size:16px;text-align:center">暂无数据</td>');
            }else{
                article_list(data); //模板赋值
                laypage({
                    cont: $('#AjaxPage'),//容器。值支持id名、原生dom对象，jquery对象,
                    pages:'',//总页数
                    skip: true,//是否开启跳页
                    skin: '#1AB5B7',//分页组件颜色
                    curr: curr || 1,
                    groups: 3,//连续显示分页数
                    jump: function(obj, first){

                        if(!first){
                            Ajaxpage(obj.curr)
                        }
                        $('#allpage').html('第'+ obj.curr +'页，共'+ obj.pages +'页');
                    }
                });
            }
        });
    }

    Ajaxpage();

/**
 * 
 */
function article_list(list){

    var tpl = document.getElementById('arlist').innerHTML;
    laytpl(tpl).render(list, function(html){
        document.getElementById('article_list').innerHTML = html;
    });
}


/**
 * 
 */ 
function userEdit(id){

    location.href = './userEdit/id/'+id+'.html';
}


/**
 * 
 */
function userDel(id){
    layer.confirm('确认删除此管理员?', {icon: 3, title:'提示'}, function(index){
        //do something
        $.getJSON('./userDel', {'id' : id}, function(res){
            if(res.code == 1){
                layer.msg(res.msg,{icon:1,time:1500});
                Ajaxpage(1,5)
            }else{
                layer.msg(res.msg,{icon:0,time:1500});
            }
        });

        layer.close(index);
    })

}

/**
 * 
 */
function user_state(val){
    $.post('{:url("user_state")}',
    {id:val},
    function(data){
         
        if(data.code==1){
            var a='<span class="label label-danger">禁用</span>'
            $('#zt'+val).html(a);
            layer.msg(data.msg,{icon:2,time:1500,shade: 0.1,});
            return false;
        }else{
            var b='<span class="label label-info">开启</span>'
            $('#zt'+val).html(b);
            layer.msg(data.msg,{icon:1,time:1500,shade: 0.1,});
            return false;
        }         
        
    });
    return false;
}


</script>
</body>
</html>