{include file="public/header" /}
<style>
    .form-control{
        width: 300px;
     

    }
    .sel{
       
        width: 100%;
        margin-left: -10px;
        margin-bottom: 15px;

    }

</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加关键词</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" name="edit_rule" id="edit_rule" method="post" action="{:url('website_add_weadd')}">
                        <input type="hidden" name="id" value="{$list.id}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属用户</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="username" readonly = "readonly" value="{$list.username}">
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">网站URL</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="website_url" readonly = "readonly" value="{$list.website_url}">
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">关键词名称</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="website_ci" value="">
                            </div>    
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">价格</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="website_money" readonly = "readonly"  value="{$rtion.rtion}">
                            </div>
                            
                        </div>
                        <!-- <div class="form-group">
                            <label class="col-sm-3 control-label">成本价格</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="website_money_c"  value="">
                            </div>
                            
                        </div> -->
                        <div class="sel">
                            <label class="col-sm-3 control-label">选择搜索引擎</label>
                            <div class="input-group col-sm-4">
                                 <select name="website_pc" id="" class="form-control" >
                                    {if $url_pc.bd_pc_s ==1}
                                         <option value="bd_pc">百度PC</option>
                                    {else /}
                                    {/if}
                                     {if $url_pc.bd_yd_s ==1}
                                     <option value="bd_yd">百度移动</option>
                                      {else /}
                                    {/if}
                                    {if $url_pc.360_pc_s ==1}
                                     <option value="360_pc">360PC</option>
                                      {else /}
                                    {/if}
                                    {if $url_pc.360_yd_s ==1}
                                    <option value="360_yd">360移动</option>
                                     {else /}
                                    {/if}
                                    {if $url_pc.sg_pc_s ==1}
                                    <option value="sg_pc">搜狗PC</option>
                                     {else /}
                                    {/if}
                                    {if $url_pc.sg_yd_s ==1}
                                    <option value="sg_yd">搜狗移动</option>
                                     {else /}
                                    {/if}
                                    {if $url_pc.sm_pc_s ==1}
                                    <option value="sm_pc">神马搜索</option>
                                     {else /}
                                    {/if}
                                   
                                   
                                    
                                    
                                  
                                    
                                  
                                </select>
                            </div>
                        </div>

                                {if $auth.auth == 1}
                                <div class="sel">
                                    <label class="col-sm-3 control-label">审核状态</label>
                                    <div class="input-group col-sm-4">
                                        <select name="website_status" id="" class="form-control" >
                                            
                                            <option value="3">审核通过</option>
                                            <option value="0">审核不通过</option>
                                           
                                        </select>
                                    </div>
                                </div>
                                {elseif $auth.auth == 2}
                                 <div class="sel">
                                    <label class="col-sm-3 control-label">审核状态</label>
                                    <div class="input-group col-sm-4">
                                        <select name="website_status" id="" class="form-control" >
                                            <option value="2">待管理员审核</option>
                                            
                                            <option value="0">审核不通过</option>
                                           
                                        </select>
                                    </div>
                                </div>
                               
                                    {else /}
                                    {/if}

                               
                           
                        <!--  <div class="sel">
                            <label class="col-sm-3 control-label">优化状态</label>
                            <div class="input-group col-sm-4">
                                 <select name="website_she" id="" class="form-control" >
                                    <option>请选择</option>
                                    <option value="1">未优化</option>
                                    <option value="2">优化中</option>
                                    <option value="0">停止优化</option>
                                </select>
                            </div>
                        </div> -->
                     

                     
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript">


</script>
</body>
</html>