async-generator
attrs
certifi
cffi
charset-normalizer
click
cryptography
distlib
filelock
Flask
h11
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
outcome
platformdirs
pycparser
pyOpenSSL
PySocks
python-dotenv
requests
selenium
sniffio
sortedcontainers
tqdm
trio
trio-websocket
urllib3
virtualenv
webdriver-manager
Werkzeug
wsproto
zipp
