<style type="text/css">
    .recomm_keyword,.no_recomm_keyword{background: #3ca793;padding: 5px ;margin-bottom: 10px;margin-right: 10px;color: #fff;display: inline-block;cursor: pointer;}
    .delete_keyword{margin-left: 5px;color: #ccc;}
    #qrcode{display: block;margin: 0 auto;text-align: center;}
    #qrcode canvas{width: 200px;height: 200px;}
    .shaoma{text-align: center;width: 100%;font-size: 18px;margin-bottom: 30px;}
    .toolbar{padding-left: 20px;}
</style>
<div id="toolbar" class="toolbar">
    <a href="javascript:;" onclick="location.reload()"  class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
</div>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <p class="shaoma">扫码添加</p>
    <div class="form-group">
        <div id="qrcode" class="qrcode-img"></div>
    </div>

    <div id="qrcode" class="qrcode-img"></div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed " >{:__('OK')}</button>
        </div>
    </div>

</form>

<script type="text/javascript" src='/storeadmin2/libs/jquery/dist/jquery.min.js?v=162913148'></script>
<script type="text/javascript" src="/storeadmin2/js/jquery.qrcode.min.js"></script>

<script>

$(function(){

    $('#qrcode').qrcode("{$oauth_url}");
});
</script>
