<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
        <title>绑定抖音</title>
        
    </head>
<body>
    <script src="/static/admin/js/jquery.min.js?v=2.1.4"></script>
    <script type="text/javascript" charset="utf-8">
    browse()
    function browse()
    {
     
      fenzu = {$fenzu};
      if(fenzu ==null || fenzu=='' || fenzu== 'nudefinde'){
         layer.msg('请先添加账号分组',{icon:2,time:1500,shade: 0.1,});
      }
      window.location.href="{:url('shouquan3')}?id=1&fenzu="+fenzu
     
    }
    </script>
</body>
</html>