<style type="text/css"> 
    .table {table-layout:fixed;} 
    .table td{text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
    .toolbar .btn-success{border: 1px solid #6d6d6d;background: unset;margin-left: 10px;}
    .fixed-table-toolbar{margin: 10px 0px;}
    .toolbar a {height: 40px;line-height: 25px;font-weight: bold;letter-spacing: 2px;font-size: 18px;}
    .btn_group{display: inline-block;padding: 8px 20px; vertical-align: middle;font-size: 16px;}
    .toolbar select{margin-left: 20px;border-radius: 5px;display: inline-block;width: 120px;line-height: 25px;height: 40px;    vertical-align: middle;font-size: 14px;}
    .layui-layer-content{color: #333;}
</style>
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-add " title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}普通视频</a>
                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled " title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>
                        <select class="form-control user_group">
                            <option value="">请选择分组</option>
                            {foreach $groups as $k=>$v}
                                <option value="{$v['id']}">{$v['name']}</option>
                            {/foreach}
                        </select>
                        <a  class="btn btn-primary btn_group">移动分组</a> 
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('tuiguang_video/edit')}" 
                           data-operate-del="{:$auth->check('tuiguang_video/del')}" 
                           width="100%">
                    </table>

                </div>

            </div>

        </div>
    </div>
</div>
