{include file="public/header" /}
<style>
    .form-control{
        width: 300px;
    }
    .sel{
       
        width: 100%;
        margin-left: -10px;
        margin-bottom: 15px;
    }

</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加文章</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" name="edit_rule" id="edit_rule" method="post" action="{:url('key_add_list')}">
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章标题</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="title" required="" aria-required="true" value="">
                            </div>
                            
                        </div>
                       
                         <div class="sel">
                            <label class="col-sm-3 control-label">文章分类</label>
                            <div class="input-group col-sm-4">
                                 <select name="" id="" class="form-control" >
                                    <option>请选择</option>
                                    <option value="bd">已经处理</option>
                                    <option value="bdydd">未处理</option>
                                   
                                </select>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label class="col-sm-3 control-label">描述</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="title" required="" aria-required="true" value="">
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">封面</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="title" required="" aria-required="true" value="">
                            </div>
                            
                        </div>
                                              
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript">
/**
*   @中网智达(河北)网络科技有限公司
*   @短视频矩阵智能营销系统
*   @电话:18518753561
*   @QQ  :192129979
*   
*/

</script>
</body>
</html>