{include file="public/header" /}
<style>
    .onetop{
        width: 100%;
        height: 40px;
        margin-top: 10px;
        margin-bottom:30px;

    }
    .col-sm-12{
        width: 30%;
       margin-top: 10px;
        float: left;
    }
    .col-sm-12 > form > input{
        width: 200px;
        float: left;
        margin-left: 20px;
        border: 1px  solid #ccc;
        border-radius: 20px;

    }
    .col-sm-12 > form > button{
        width: 100px;
        height: 34px;
        font-size: 17px;
        text-align: center;
        border-radius: 20px;
        line-height: 17px;
        margin-left: 20px;

    }
    .top1{
        width: 30%;
        height:40px ;    
        float: left;
        border-radius: 5px;
}
 .form-control{
        width: 300px;
    }
    .sel{
       
        width: 100%;
        margin-left: -10px;
        margin-bottom: 15px;
    }


</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- jieshu -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>关键词列表</h5>
            
        </div>
               <!--搜索框开始-->           
    <div class="onetop">  
                <div class="ibox-title top1" style="border-color: #fff;">
                    <a href="{:url('proportion_list')}" type="submit" class="btn btn-primary"   id="shuju">添加会员组</a> 
            
                </div>            
               <!--  <div class="col-sm-12">   
                                                       
                    <form name="admin_list_sea" class="form-search" method="post" action="{:url('index')}">
                        <input type="text"  class="form-control" name="yhm" value="" placeholder="输入用户名" />   
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button> 
                    </form>                         
                </div> -->
      </div>          
            <!--搜索框结束-->
         
        <div class="ibox-content">
              
         

 
            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th id="guanjain">用户组名称</th>
                                <th>价格</th>
                                <th>备注信息</th>
                                <th>创建时间</th>
                                <th>操作</th>
                              
                            </tr>
                        </thead>
                        {foreach name="list" item="vo"}
                        <tr class="long-tr" style="text-align:center">
                               <td>{$vo.zuname}</td>
                               
                               <td>{$vo.rtion}</td>
                               <td>{$vo.text}</td>
                               <td>{$vo.addtime|default=time()|date='Y-m-d',###}</td>
                              
                               <td>
                                   <a href="{:url('proportion_edit')}?id={$vo.id}"  class="btn btn-primary btn-xs">
                                            <i class="fa fa-paste"></i> 编辑</a>&nbsp;&nbsp;
                                        <a href="{:url('proportion_del')}?id={$vo.id}"  class="btn btn-danger btn-xs">
                                            <i class="fa fa-trash-o"></i> 删除</a>
                                   
                               </td>
                        </tr>
                         {/foreach}
                        <tbody id="article_list"></tbody>
                    </table>
                    <div id="AjaxPage" style=" text-align: right;"></div>
                    <div id="allpage" style=" text-align: right;"></div>
                </div>
             
            </div>
           <!-- kaishi -->
        </div>
    </div>
</div>
<!-- kaishi -->


<<!-- 加载 -->

{include file="public/footer" /}

<script type="text/javascript">




</script>

</html>