<!DOCTYPE html>
<html>
<head>
    <title>{$management.biaoti?$management.biaoti:'短视频矩阵'}</title>
    <meta charset="UTF-8">
    <meta  charset="utf-8" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="keywords" content="{$management.ci?$management.ci:'短视频矩阵'}">
    <meta name="description" content="{$management.miaoshu?$management.miaoshu:'短视频矩阵'}">
    <link rel="stylesheet" href="/static/admin/pc/static/css/css.css">
    <link rel="stylesheet" href="/static/admin/pc/static/css/animate.min.css">
    <script src="/static/admin/pc/static/js/jquery.min.js" charset="UTF-8"></script>
    <script src="/static/admin/pc/static/js/jquery.superslide.js" charset="UTF-8"></script>
</head>
<body>
<div class="header">
    <div class="navbar w12">
        <a href="/" class="fl logo"><h1>{$management.biaoti?$management.biaoti:'短视频矩阵'}</h1></a>
        <a href="{:url('admin/login/index')}" class="fr btn_login">登录后台</a> 
        <div class="fr top_nav" id="top_nav">
            <a class="current jump" name="home" href="javascript:;">首页</a>
            <a class="jump" name="about" href="javascript:;">短视频矩阵介绍</a>
            <a class="jump" name="industry" href="javascript:;" >系统功能</a>
            <!-- <a class="jump" name="process" href="javascript:;" >聚客码流程</a> -->
            <a class="jump" name="exhibition" href="javascript:;" >系统展示</a>
            <a class="jump" name="contact" href="javascript:;" >联系我们</a>
            <!--<a class="jump" name="contact" href="{:url('admin/login/index')}" style="color:red" >登录后台</a>-->
           <!--<a href="/login" class="fr btn_login">登录系统</a>-->
        </div>

    </div>
</div>
<div class="bannerbox" >
    <div class="bd">
        <ul>
            <li class="fst-li">
                <div class="containt-div w12">
                    <div class="banner_tit"><h3>{$management.biaoti?$management.biaoti:'短视频矩阵'}</h3><p>    {$management.biaoti?$management.biaoti:'短视频矩阵'}，专注短视频「账号分发」「自动化运营管理」，为管理海量视频多个账号提供一站式解决方案。</p></div>
                    <div class="banner_img" style="top:450px; opacity: 0;"><p></p><img src="/static/admin/pc/static/picture/banner_02.png" alt=""></div>
                </div>
            </li>
            <li class="sec-li" style="display: none;">
                <div class="containt-div w12">
                    <div class="banner_tit"><h3>多平台发布，多账号管理</h3><p>可同时管理成百上千个抖音快手头条西瓜等账号，形成矩阵。</p></div>
                    <div class="banner_img" style="top: 450px; opacity: 0;"><img src="/static/admin/pc/static/picture/banner_01.png" alt="" style=""></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="dot">
        <dl>
        </dl>
    </div>
</div>


<div class="why_choose pd100">
    <h2 class="animate__fadeInUp animated mb24">短视频现状分析</h2>
    <h6 class="mb80 animate__fadeInUp animated">2021年中国短视频用户将达8.09亿人，抖音成超级应用平台！</h6>
    <div class="w12 mt60 animate__fadeInUp animated">
        <dl>
            
            <dt>网民获取信息的方式及浏览习惯在发生着巨大的变化！</dt>
            <dt>原有单一的电销模式、传统图文搜索模式已被短视频取代！</dt>

            <dt style="padding-top: 30px">短视频用户已超过<em>10亿</em>人，</dt>
            <dt>用户在哪里<em>流量</em>就在哪里，流量在哪里<em>商机</em>就在哪里</dt>
            <dt>抓住短视频红利期，快速抢占市场</dt>
        </dl>
        <dl>
            <img src="/static/admin/pc/static/images/xhn_dd.png" >
        </dl>
    </div>
</div>

<div id="about" class="about animated pd100">
    <div class="w12 about_content">
        <h2 class="mb24 animate__fadeInUp animated">什么是{$management.biaoti?$management.biaoti:'短视频矩阵'}？</h2>
        <!--<h6 class="mb80 animate__fadeInUp animated"></h6>-->
        <img class="img_about_qr animate__fadeInUp animated" src="/static/admin/pc/static/images/kauidou_js.jpg">
        <div class="img_about animate__fadeInUp animated">
            <!--<h3>可以解决哪些问题：</h3>-->
            <h3 style="line-height: 35px;color: #000;">
                <br/><br/><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                短视频矩阵管理系统，可以同时管理<b>成百上千个</b>自媒体矩阵短视频账号，<b>自动混剪原创视频</b>，能够<b>一键分发多</b>个自媒体平台，不仅免费，还能<b>多个平台同时推广</b>，增加你的内容<b>曝光量</b>，<b>多渠道吸粉</b>，对于打造品牌ip来说{$management.biaoti?$management.biaoti:'短视频矩阵'}系统是一个超级好用的工具。
                <br/><br/><br/>
            </h3>
   
        </div>
        
    </div>
</div>

<div class="questions pd100 animated">
    <div class="w12">
        <h2 class="mb40 animate__fadeInUp animated">{$management.biaoti?$management.biaoti:'短视频矩阵'}可以解决什么问题？</h2>
        <ul>
            <li class="animate__fadeInUp animated">
                <img class="fl mr16" src="/static/admin/pc/static/picture/question_icon_1.png">
                <h3>解决矩阵账号-管理</h3>
                <span>可以同时管理成百上千个抖音快手等账号，形成矩阵。目前已支持接入抖音、快手、头条、西瓜等...更多平台火速对接中...</span>
            </li>
            <li class="animate__fadeInUp animated">
                <img class="fl mr16" src="/static/admin/pc/static/picture/question_icon_2.png">
                <h3>解决矩阵-视频内容</h3>
                <span>解决矩阵账号对原创视频内容和数量刚性需求。智能混剪，独家技术，原创度高达99.99%，剪、合、发一气呵成，服务器零负担，完全符合生态健康要求的视频生产神器！</span>
            </li>
            <li class="animate__fadeInUp animated">
                <img class="fl mr16" src="/static/admin/pc/static/picture/question_icon_3.png">
                <h3>解决矩阵-发布问题</h3>
                <span>多种发布组合和模式。单账号挂机批量发布、多账户挂机批量发布、单视频多平台分发、挂在POI地址发布、发布混剪原创视频、按账号组发布视频、控制发布时间间隔等等，一个人干100个人的活，提高效率，省事又省心</span>
            </li>
            <li class="animate__fadeInUp animated">
                <img class="fl mr16" src="/static/admin/pc/static/picture/question_icon_4.png">
                <h3>解决运营-安全问题</h3>
                <span>系统基于抖音快手官方开放平台开发，直接调用官方接口，稳定、安全。只要视频内容不违规，绝无IP限制、封号、限流等技术风险，是群控、云控系统的良好补充。</span>
            </li>
            <!-- <li class="animate__fadeInUp animated">
                <img class="fl mr16" src="static/picture/question_icon_5.png">
                <h3>客户标签</h3>
                <span>根据客户群体消费频次自动打标签，精准识别高粘性用户</span>
            </li>
            <li class="animate__fadeInUp animated">
                <img class="fl mr16" src="static/picture/question_icon_6.png">
                <h3>高效群发</h3>
                <span>企微官方营多种销工具，营销内容一键群发、快速送达所有客户</span>
            </li> -->
			<div style="clear:both;"></div>
        </ul>
    </div>
</div>



<div id="industry" class="industry pd100 animated">
    <div class="industry_inner w12">
        <h2 class="mb24 animate__fadeInUp animated" style="color: #FFFFFF;">{$management.biaoti?$management.biaoti:'短视频矩阵'}功能</h2>
        <h6 class="mb80 animate__fadeInUp animated" style="color: #FFFFFF;">本系统可以同时管理成百上千个抖音账号，形成抖音矩阵，免登陆切换，批量上传视频，AI混剪全自动批量发布视频，设置发布任务自动组合文案和话题定时发布......</h6>
        <ul class="industry_lists fl animate__fadeInUp animated">
            <li>
                <div class="mask"></div>
                <span>管理多平台多账号</span>
            </li>
            <li>
                <div class="mask"></div>
                <span>混剪原创视频</span>
            </li>
            <li>
                <div class="mask"></div>
                <span>多账号视频定时发布</span>
            </li>
            <li>
                <div class="mask"></div>
                <span>多平台视频分发</span>
            </li>
            <li>
                <div class="mask"></div>
                <span>账号分组管理分发</span>
            </li>
            <li>
                <div class="mask"></div>
                <span>单账号批量发布</span>
            </li>
            <li>
                <div class="mask"></div>
                <span>自动化挂机发布</span>
            </li>
            <li>
                <div class="mask"></div>
                <span>更多</span>
            </li>
        </ul>
    </div>
</div>

<!-- <div id="process" class="process pd100 animated">
    <h2 class="mb24 animate__fadeInUp animated">聚客码流程示例</h2>
    <h6 class="mb80 animate__fadeInUp animated">以扫码点餐为例，首次扫码加好友，后续到店直接点餐</h6>
    <div class="w12 process_con animate__fadeInUp animated" style="margin-bottom: 66px;">
        <p>新客户扫码示例</p>
        <img class="process_qr" src="static/picture/e4339e0cdefe2bca93f87cd5903d0ced.jpg" alt="">
        <img class="process_img" src="static/picture/process1.jpg" alt="">
    </div>
    <div class="w12 process_con animate__fadeInUp animated">
        <p style="left: 471px;">老客户扫码（第二次扫码）示例</p>
        <img class="process_qr"  src="static/picture/e4339e0cdefe2bca93f87cd5903d0ced.jpg" alt="">
        <img class="process_img"  src="static/picture/process2.jpg" alt="">
    </div>
</div> -->

<!-- <div class="change pd100">
    <h2 class="animate__fadeInUp animated mb24">仅需一分钟，普通二维码升级为聚客码</h2>
    <h6 class="mb80 animate__fadeInUp animated">在原二维码里增加吸粉流程，吸粉后跳转到原二维码，不影响原二维码的任何功能！</h6>
    <div class="change_content w12 animate__fadeInUp animated">
        <div class="change_content_l fl">
            <img src="static/picture/qr_normal.png" >
            <p>普通二维吗</p>
        </div>
        <div class="change_content_c fl">
            <p>开通聚客码系统</p>
            <img src="static/picture/process_arrow.png" >
            <p>1分钟升级改造</p>
        </div>
        <div class="change_content_r fl">
            <img src="static/picture/e4339e0cdefe2bca93f87cd5903d0ced.jpg" >
            <p>聚客码</p>
        </div>
    </div>
    <a class="btn" href="#contact" style="margin:40px auto 0;width: 288px;">
        <img class="fl" src="static/picture/contact_icon_02.png"><span class="fl">咨询热线：18888888888</span>
    </a>
</div> -->

<div id="exhibition" class="system_display animated">
    <div class="bg_duan">
        <h2 class="mbt60 animate__fadeInUp animated">系统功能展示</h2>
        <div class="system_display_tit animate__fadeInUp animated">
            <div class="terminal fl mr50">多账号多平台管理</div>
            <div class="terminal fl mr50">智能混剪原创视频</div>
            <div class="terminal mr50 fl">多种发布模式</div>
            <div class="terminal mr50 fl">创作灵感</div>
        </div>
    </div>
    <div class="display_area animate__fadeInUp animated">
        <div class="display_con w12">
            <div class="case_panel">
                <dl>
                    <dt>多账号多平台管理</dt>
                    <dd>
                        <p>可同时管理成百上千个抖音快手头条西瓜等账号，形成矩阵。</p>
                    </dd>
                </dl>
                <img src="/static/admin/pc/static/images/duozhanghao.png" >
            </div>
            <div class="case_panel">
                <dl>
                    <dt>智能混剪</dt>
                    <dd>智能混剪，独家技术，原创度高达99.99%，剪、合、发一气呵成。</dd>
                </dl>
                <img src="/static/admin/pc/static/images/hunjian.png" >
            </div>
            <div class="case_panel">
                <dl>
                    <dt>多种发布模式</dt>
                    <dd>单账号挂机批量发布、多账户挂机批量发布、单视频多平台分发、挂在POI地址发布、发布混剪原创视频、按账号组发布视频、控制发布时间间隔等等...</dd>
                </dl>
                <img src="/static/admin/pc/static/images/fabumoshi.png" >
            </div>
            <div class="case_panel">
                <dl>
                    <dt>创作灵感</dt>
                    <dd>
                        <p>学习他人的热门视频，丰富自己的创意，使我们的视频更有趣，更具有感染力和冲击力，为我们的创作赋能。</p>
                    </dd>
                </dl>
                <img src="/static/admin/pc/static/images/linggan.png" >
            </div>
        </div>
    </div>
</div>

<div id="plugin" class="plugin pd100 animated">
    <h2 class="mb24 animate__fadeInUp animated">更多功能</h2>
    <h6 class="mb80 animate__fadeInUp animated"></h6>
    <div class="w12 plugin_con animate__fadeInUp animated">
        <dl>
            <img src="/static/admin/pc/static/picture/plugin_yhq.png" >
            <dt>收益统计</dt>
            <dd>统计平台收益，随时反馈数据</dd>
        </dl>
        <dl>
            <img src="/static/admin/pc/static/picture/plugin_kl.png" >
            <dt>多平台账号同步</dt>
            <dd>实现多平台账号数据显示及操作</dd>
        </dl>
        <dl>
            <img src="/static/admin/pc/static/picture/plugin_yd.png" >
            <dt>混剪视频</dt>
            <dd>不同比例的短视频画面</dd>
        </dl>
        <dl>
            <img src="/static/admin/pc/static/picture/plugin_dzp.png" >
            <dt>接代理</dt>
            <dd>可视化代理信息</dd>
        </dl>
        <dl>
            <img src="/static/admin/pc/static/picture/plugin_gg.png" >
            <dt>OEM</dt>
            <dd>支持客户品牌OEM，域名绑定、IP授权等</dd>
        </dl>
        <dl>
            <img src="/static/admin/pc/static/picture/plugin_bq.png" >
            <dt>挂载地址位置</dt>
            <dd>增加同城曝光量，视频上热门的机率更大</dd>
        </dl>
        <dl>
            <img src="/static/admin/pc/static/picture/plugin_sop.png" >
            <dt>定时发布</dt>
            <dd>设置指定时间即可发布视频，发布无忧</dd>
        </dl>
        <dl>
            <img src="/static/admin/pc/static/picture/plugin_ld.png" >
            <dt>多账号多平台发布</dt>
            <dd>将视频内容通过后台自动的发布在现下流量最大的平台</dd>
        </dl>
    </div>
</div>

<div id="contact" class="contact_us pd100 animated">
    <div class="w12">
        <h2 class="mb60 animate__fadeInUp animated">联系我们</h2>
        <div class="contact_us_l fl fadeInLeft animated">
            <h5>咨询热线</h5>
            <p class="description">手机/微信同号</p>
            <p class="contact_us_num">{$management.phone?$management.phone:'18888888888'}</p>
        </div>
        <div class="contact_us_m fl fadeInUp animated">
            <img class="erweima" src="/static/admin/images/{$management.ewm}">
            <p class="contact_us_num">扫码体验</p>
        </div>
        <div class="contact_us_r fl fadeInRight animated">
            <h5>介绍资料</h5>
            <p class="description">系统介绍资料</p>
            <p class="contact_us_num">联系我们索取</p>
        </div>
    </div>
</div>

<ul class="fr_contact">
    <li>
        <div class="inner">
            <img src="/static/admin/pc/static/picture/contact_icon_01.png">
            <span>联系我们</span>
            <div class="contact_content contact_content01">
                <p>电话：{$management.phone?$management.phone:'18888888888'}</p>
            </div>
        </div>
    </li>
    <li>
        <div class="inner">
            <img src="/static/admin/pc/static/picture/contact_icon_02.png">
            <span>系统体验</span>
            <div class="contact_content contact_content02">
                <img src="/static/admin/images/{$management.ewm}">
            </div>
        </div>

    </li>
    <li>
        <div class="inner jump" name="home" href="javascript:;">
            <img src="/static/admin/pc/static/picture/contact_icon_03.png">
            <span>返回顶部</span>
        </div>
    </li>
</ul>


<div class="footer">
    <div>{$management.biaoti?$management.biaoti:'短视频矩阵'} </div>
    <div class="beians">
        <img src="/static/admin/pc/static/picture/beian.png" alt="" style="width:18px;height:18px;margin-right:-7px;">
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo"></a>
        <a target="_blank" href="https://beian.miit.gov.cn/">备案信息：{$management.beian?$management.beian:'0000000'}</a>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.jump').bind('click',function(e) {
            var part = $(this).attr("name");
            $(".jump").removeClass("current");
            $(this).addClass("current");
            if(part == "home"){
                $("html,body").animate({scrollTop:0},1000);
            }else{
                $("html,body").animate({scrollTop:$('#'+part).offset().top},1000);
            }
        });
        jQuery(".bannerbox").slide({mainCell:".bd ul",titCell:".dot dl",autoPage:"<dd></dd>",autoPlay:true,delayTime:2000,interTime:4000,
            startFun:function(i,c){
                jQuery(".banner_tit").css({"top":"-249px",opacity:0}).eq(i).animate({"top":"120px",opacity:1},500,function(){
                    jQuery(".banner_img").css({"top":"400px",opacity:0}).eq(i).animate({"top":0,opacity:1},500);
                });
            }})
        jQuery(".system_display").slide({titCell:".system_display_tit .terminal",mainCell:".display_con"});
    })
</script>
</body>
</html>
