{include file="public/header" /}

<body class="gray-bg">
<link rel="stylesheet" href="/static/admin/layui/css/layui.css" media="all">
<div class="wrapper layui-card-body wrapper-content">
    <div class="admin-con">
        <div class="block-box">
            <div class="col-12">
                <a href="javascript:add()" class="btn btn-primary">添加外链</a> 
            </div>
            <div class="col-12">
                <div class="block">
                    <form name="khsearch" class="form-search" method="get" action="">
                        <div class="col-sm-12 m-b-md" style="padding:0;text-align:center;">
                            <div style="display:inline-flex">
                                <select name="type" id="" class="form-control" style="">
                                    <option value="">引流类型</option>
                                    <option value="1">微信</option>
                                    <option value="2">h5链接</option>
                                </select>
                                
                                <select name="type" id="" class="form-control" style="margin:0 10px">
                                    <option value="">状态</option>
                                    <option value="1">开启</option>
                                    <option value="2">关闭</option>
                                </select>
                                <input type="text" id="key" class="form-control" name="nickname" value="" autocomplete="off" placeholder="请输入卡片名" style="display: block;width: 80%" />
                                <button type="submit" class="btn btn-primary" style="border-top-left-radius:0;border-bottom-left-radius:0;height:35px"><i class="fa fa-search"></i> 搜索</button> 
                            </div>
                        </div>
                    </form>  
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th>卡片名称</th>
                                <th>引流类型</th>
                                <th>h5链接</th>
                                <th>微信</th>
                                <th>剩余次数</th>
                                <th>链接</th>
                                <th>状态</th>
                                <th>到期时间</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        
                        <tbody id="article_list">

                            <tr>
                                <td>满200-10</td>                                 
                                <td style="color:#1ab394">h5链接</td>                                 
                                <td>http:www.baidu.com</td> 
                                <td></td>
                                <td>67</td>                                 
                                <td>http:www.baidu.com</td>  
                                <td>正常</td> 
                                <td>2022-09-30</td>  
                                <td>2022-08-30</td>                                 
                                <td>
                                    <a href="javascript:;"  class="btn btn-primary btn-xs" onclick="del()">
                                           删除</a>
                                </td>                           
                            </tr>
                            
                            <tr>
                                <td>满200-10</td>                                 
                                <td style="color:#b572c1">微信</td>                                 
                                <td></td> 
                                <td><img src="/static/admin/images/79d - 副本.jpeg" width="50px" height="50px"></td>
                                <td>67</td>                                 
                                <td>http:www.baidu.com</td>  
                                <td>正常</td>  
                                <td>2022-09-30</td>  
                                <td>2022-08-30</td>                                 
                                <td>
                                    <a href="javascript:;"  class="btn btn-primary btn-xs" onclick="del()">
                                           删除</a>
                                </td>                           
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
 </div> 
 
 <!--添加外链-->
 <div class="modal  fade" id="add" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" style="width:50%">
            <div class="modal-content" style="width:100%;padding-bottom:20px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">添加外链</h4>                  
                </div>
               <form class="form-horizontal" name="userAdd"   action=""  method="post">
                    
                  <div class="form-group" style="margin-top: 20px;">
                    <label class="col-sm-3 control-label font13">卡片名称：</label>
                    <div class="input-group col-sm-7">
                        <input id="jifen" type="text" class="form-control" name="zhnumber"  >
                    </div>
                  </div>
                  <div class="form-group" style="">
                    <label class="col-sm-3 control-label font13">引流类型：</label>
                    <div class="input-group col-sm-7" style="line-height:35px">
                        <label class="font13"><input name="Fruit" type="radio" value="0"/>h5链接 </label>
                        &nbsp;&nbsp;
                        <label class="font13"><input name="Fruit" type="radio" value="1" />微信 </label>
                    </div>
                  </div>
                  <div class="form-group" style="">
                    <label class="col-sm-3 control-label font13">h5链接：</label>
                    <div class="input-group col-sm-7">
                        <input id="jifen" type="text" class="form-control" name="zhnumber"  >
                    </div>
                  </div> 
                  <div class="form-group" style="margin-top: 20px;">
                    <label class="col-sm-3 control-label font13">微信名片：</label>
                    <div class="input-group col-sm-7">
                        <input id="jifen" type="file" class="form-control input-img" name="zhnumber"  style="background:none;border:0;padding:0;line-height:35px;">
                    </div>
                  </div> 
                  <div class="form-group" style="margin-top: 20px;">
                    <label class="col-sm-3 control-label font13">状态：</label>
                    <div class="input-group col-sm-7">
                        <select name="type" id="" class="form-control" style="">
                                    <option value="0">开启</option>
                                    <option value="1">关闭</option>
                        </select>
                    </div>
                  </div> 
                  <div class="form-group" style="margin-top: 20px;">
                    <label class="col-sm-3 control-label font13">访问次数：</label>
                    <div class="input-group col-sm-7">
                        <input id="jifen" type="text" class="form-control" name="zhnumber"  >
                    </div>
                  </div> 
                  <div class="form-group" style="margin-top: 20px;">
                    <label class="col-sm-3 control-label font13">到期时间：</label>
                    <div class="input-group col-sm-7">
                        <input id="jifen" type="date" class="form-control" name="zhnumber"  >
                    </div>
                  </div>
                <div class="form-group">
                    <div class="col-sm-7 col-sm-offset-3">
                        <button class="btn btn-primary" type="button" onclick="zhanghaocz()" > 确&nbsp;&nbsp;&nbsp;认</button>
                       
                    </div>
                </div>
                 </form>
            </div>
        </div>
    </div>
<!--添加-->

 {include file="public/footer" /}

<script type="text/javascript">
    // 添加
    function add(){
          $('#add').modal('show');
    }
</script>
</body>
</html>