{include file="public/header" /}

<body class="gray-bg">
<link rel="stylesheet" href="/static/admin/layui/css/layui.css" media="all">
<div class="wrapper layui-card-body wrapper-content">
    <div class="admin-con">
        <div class="block-box">
            <div class="col-12">
                <a href="javascript:add()" class="btn btn-primary">添加</a>
            </div>
            
            <div class="col-12">
                <div class="block">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="long-tr">
                            <th>服务名称</th>
                            <th>注意事项</th>
                            <th>邀请码</th>
                            <th>添加时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody id="article_list">

                        {foreach name="list" item="vo"}
                        <tr>
                            <td>{$vo['title']}</td>
                            <td>{$vo['desc']}</td>
                            <td>{$vo['code']}</td>
                            <td>{:date("Y-m-d H:i:s",$vo.create_time)}</td>
                            <td>{if $vo.status==1}正常{else /}关闭{/if}</td>
                            <td>
                                <a href="javascript:;" onclick="give({$vo.id})" class="btn btn-info btn-xs">
                                    <i class="fa fa-paste"></i> 分配</a>&nbsp;&nbsp;
                                <a href="javascript:;" onclick="edit({$vo.id})" class="btn btn-primary btn-xs" >
                                    编辑</a>
                                <a href="/admin/tool/param?id={$vo.id}" class="btn btn-primary btn-xs" >
                                    字段管理</a>
                                <a href="/admin/tool/examine?id={$vo.id}" class="btn btn-primary btn-xs" >
                                    审核管理</a>
                                <a href="javascript:;"  class="btn btn-primary btn-xs" onclick="del({$vo.id})">
                                    删除</a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<!--添加返佣-->
<div class="modal  fade" id="add" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content" style="width:100%;padding-bottom:20px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">添加服务</h4>
            </div>
            <form class="form-horizontal" name="userAdd" id="tool_cate_data"  action=""  method="post">
                <div class="form-group" style="margin-top: 20px;">
                    <label class="col-sm-3 control-label font13">服务名称：</label>
                    <div class="input-group col-sm-8">
                        <input type="text" class="form-control" name="title"  >
                    </div>
                </div>
                <div class="form-group" style="margin-top: 20px;">
                    <label class="col-sm-3 control-label font13">注意事项：</label>
                    <div class="input-group col-sm-8">
                        <textarea name="desc" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 20px;">
                    <label class="col-sm-3 control-label font13">邀请码：</label>
                    <div class="input-group col-sm-8">
                        <input type="text" class="form-control" name="code"  >
                    </div>
                </div>

                <div class="form-group" style="margin-top: 20px;">
                    <label class="col-sm-3 control-label font13">状态：</label>
                    <div class="input-group col-sm-5" style="line-height:35px">
                        <label class="font13"><input name="status" type="radio" value="1" checked/>正常 </label>
                        <label class="font13"><input name="status" type="radio" value="2" />关闭 </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-7 col-sm-offset-3">
                        <button class="btn btn-primary" type="button" onclick="confirm()" > 确认</button>&nbsp;&nbsp;&nbsp;

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--添加-->

{include file="public/footer" /}
<script type="text/javascript">
    // 添加
    function add(){
        $('#add').modal('show');
    }

    function edit(id) {
        layer.open({
            type: 2,
            area: ['800px', '600px'],
            content: '/admin/tool/edit?id='+id
        });
    }

    function give(id) {
        layer.open({
            type: 2,
            area: ['800px', '600px'],
            content: '/admin/tool/give?id='+id
        });
    }


    function del(id) {
        layer.confirm("确认删除此服务吗？",function (index) {
            layer.close(index);
            var load_index = layer.load(2);
            $.post("/admin/tool/del",{id:id})
                .success(function (response) {
                    layer.msg(response.msg,{icon:1,time:1500,shade: 0.1,});
                    layer.close(load_index);
                    setTimeout(() => {
                        window.location.reload();
                    }, 500);
                })
                .complete(function () {
                    layer.close(load_index);
                });
        });
    }

    function check_valid(key) {
        switch (key) {
            case ("title"):
                return '服务名称不能为空';
                break;
            case ("desc"):
                return '服务介绍不能为空';
                break;
            case ("code"):
                return '邀请码不能为空';
                break;
            default:
                return '服务名称不能为空';
                break;
        }
    }

    //提交
    function confirm() {
        var load_index = layer.load(2);
        var formData = $('#tool_cate_data').serializeArray();
        var error = 0;
        $.each(formData, function(i, field){
            if(!field.value || field.value<=0) {
                console.log(field.name+'---'+field.value)
                var msg = check_valid(field.name)
                layer.alert(msg)
                error += 1;
                return false;
            }
        });
        if(error) {
            layer.closeAll('loading');
           return false;
        }
        $.ajax({
            type: "POST",
            url: "/admin/tool/edit",
            data: formData,
            success: function(data){
                layer.closeAll('loading');
                window.location.reload();
            },
            error:function() {
                layer.closeAll('loading');
                layer.alert('添加失败')
            }
        });
    }
</script>
</body>
</html>