{include file="public/header" /}

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="ibox float-e-margins">
        <div class="ibox-content m-t-md">
            <div class="tool-con">

                <div class="col-sm-12 m-b-md m-t-md">
                    <div class="col-sm-1">
                        <div class="input-group">
                            <a href="javascript:add()" class="btn btn-primary">添加</a>
                        </div>
                    </div>
                </div>
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="long-tr">
                            <th>字段名称</th>
                            <th>字段类型</th>
                            <th>排序</th>
                            <th>添加时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody id="article_list">

                        {foreach name="list" item="vo"}
                        <tr>
                            <td>{$vo['title']}</td>
                            <td>{if $vo.type==2}文件{elseif $vo.type==3}时间{else /}文本{/if}</td>
                            <td>{$vo['sort']}</td>
                            <td>{:date("Y-m-d H:i:s",$vo.create_time)}</td>
                            <td>
                                <a href="javascript:;" onclick="edit({$vo.id})" class="btn btn-primary btn-xs" >
                                    编辑</a>
                                <a href="javascript:;"  class="btn btn-primary btn-xs" onclick="del({$vo.id})">
                                    删除</a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<!--添加返佣-->
<div class="modal  fade" id="add" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content" style="width:100%;padding-bottom:20px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">添加字段</h4>
            </div>
            <form class="form-horizontal" name="userAdd" id="tool_param_data"  action=""  method="post">
                <input type="hidden" name="tool_id" value="{$tool_id}">
                <div class="form-group" style="margin-top: 20px;">
                    <label class="col-sm-5 control-label">字段名称：</label>
                    <div class="input-group col-sm-5">
                        <input type="text" class="form-control" name="title"  >
                    </div>
                </div>

                <div class="form-group" style="margin-top: 20px;">
                    <label class="col-sm-5 control-label">类型：</label>
                    <div class="input-group col-sm-5">
                        <label><input name="type" type="radio" value="1" checked/>文本 </label>
                        <label><input name="type" type="radio" value="2" />文件 </label>
                        <label><input name="type" type="radio" value="3" />时间 </label>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 20px;">
                    <label class="col-sm-5 control-label">排序：</label>
                    <div class="input-group col-sm-5">
                        <input type="text" class="form-control" name="sort"  value="0" >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-7 col-sm-offset-3">
                        <button class="btn btn-primary" type="button" onclick="confirm()" > 确认</button>&nbsp;&nbsp;&nbsp;

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--添加-->

{include file="public/footer" /}
<script type="text/javascript">
    // 添加
    function add(){
        $('#add').modal('show');
    }

    function edit(id) {
        layer.open({
            type: 2,
            area: ['800px', '600px'],
            content: '/admin/tool/pedit?id='+id
        });
    }

    function give(id) {
        layer.open({
            type: 2,
            area: ['800px', '600px'],
            content: '/admin/tool/give?id='+id
        });
    }


    function del(id) {
        layer.confirm("确认删除此字段吗？",function (index) {
            layer.close(index);
            var load_index = layer.load(2);
            $.post("/admin/tool/pdel",{id:id})
                .success(function (response) {
                    layer.msg(response.msg,{icon:1,time:1500,shade: 0.1,});
                    layer.close(load_index);
                    window.location.reload();
                })
                .complete(function () {
                    layer.close(load_index);
                });
        });
    }

    function check_valid(key) {
        switch (key) {
            case ("title"):
                return '字段名称不能为空';
                break;
            default:
                return '字段名称不能为空';
                break;
        }
    }

    //提交
    function confirm() {
        var load_index = layer.load(2);
        var formData = $('#tool_param_data').serializeArray();
        $.each(formData, function(i, field){
            if(!field.value || field.value<=0) {
                console.log(field.name+'---'+field.value)
                var msg = check_valid(field.name)
                layer.alert(msg)
                return false;
            }
        });
        $.ajax({
            type: "POST",
            url: "/admin/tool/pedit",
            data: formData,
            success: function(data){
                layer.closeAll('loading');
                window.location.reload();
            },
            error:function() {
                layer.closeAll('loading');
                layer.alert('添加失败')
            }
        });
    }
</script>
</body>
</html>