{include file="public/header" /}


<link rel="stylesheet" type="text/css" href="/static/admin/page/page.css">
<style>

.yulan{
	    -webkit-text-size-adjust: 100%;
    color: #333;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
}
#newli{
	    -webkit-text-size-adjust: 100%;
    color: #333;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: flex;
    flex-wrap: wrap;
}
#newli >li{
	margin-top: 20px;
	margin-left: 40px;
}

.neiro{
	    -webkit-text-size-adjust: 100%;
    color: #333;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 267px;
    width: 200px;
    background: #161823;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.type{
	    -webkit-text-size-adjust: 100%;
    color: #333;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: absolute;
    left: 0;
    top: 12px;
}
.typename{
	    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    padding: 1px 4px;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.1);
}
.caozuo {
	    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: absolute;
    right: 0;
    top: 12px;
    padding: 1px 4px;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.1);
}
.layui-unselect {
	    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    list-style: none;
    color: #fff;
    font-weight: 600;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    font-size: 0;
    transition: .1s linear;
    box-sizing: border-box;
    height: auto!important;
    line-height: normal!important;
    min-width: 18px;
    min-height: 18px;
    border: none!important;
    margin-right: 0;
    padding-left: 28px;
    padding-right: 0;
    background: 0 0;
}
.layui-icon{
    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    list-style: none;
    font-weight: 600;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
    box-sizing: border-box;
    -webkit-user-select: none;
    font-family: layui-icon!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    color: #fff;
    text-align: center;
    right: auto;
    left: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: 1px solid #d2d2d2;
    font-size: 12px;
    border-radius: 2px;
    background-color: #fff;
    transition: .1s linear;
}
.titles{
	    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin-top: 12px;
    height: 22px;
    max-width: 200px;
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
    color: #13161a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.texts{
	    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin-top: 4px;
    font-size: 12px;
    line-height: 20px;
    color: #747e8c;
    cursor: default;
}
.layui-form{
	    -webkit-text-size-adjust: 100%;
    color: #333;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
li{
  list-style: none;
}
</style>
<body class="gray-bg">
<link rel="stylesheet" href="/static/admin/layui/css/layui.css" media="all">
    
<div class="wrapper layui-card-body wrapper-content">
    <div class="admin-con">
        <div class="block-box">
            <div class="col-12">
                <button type="button" id="selects" class="btn btn-primary">全选</button>
                <button type="button" id="deletes" class="btn btn-primary">删除</button>
            </div>
            
            
            <div class="col-12">
                <div class="block">
                    <div class="yulan" style="float:left;">
                        <ul id="newli">
                           {if empty($list)}
                           <span class="colorfff m-t-md m-b-md">当前还有没视频</span>
                           {else}
                            {foreach name="list" item="value"}
                                {if $value.mediaBasicInfo.status=='Init'}
                                <!--正在准备中-->
                                <li style=" list-style: none;" class="lise">
                                <div class="neiro">
                                   <p style="color:#f1f1f1">创建中...</p>
                                   <div class="type">
                                       <div class="typename">
                                            {$value.mediaBasicInfo.title}
                                        </div>
                                   </div>
                                   <div class="caozuo ">
                                       <input lay-skin="primary" type="checkbox" name="sucai" value=""   data-id="{$value.mediaBasicInfo.mediaId}"  data-ossid="{$value.mediaBasicInfo.inputURL}"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"></div>
                                       <!--<span onclick="zhida_deltss('{$value.mediaBasicInfo.mediaId}','{$value.mediaBasicInfo.inputURL}')">删除</span>-->
                                  </div>
                                </div>
                                    <div class="texts" >上传于{$value.mediaBasicInfo.createTime}</div>
                                </li>
                                {elseif $value.mediaBasicInfo.status=='Preparing'}
                                <!--混剪中-->
                                    <li style=" list-style: none;" class="lise">
                                    <div class="neiro">
                                       <p style="color:#f1f1f1">玩儿命混剪中...</p>
                                       <div class="type">
                                           <div class="typename">
                                                {$value.mediaBasicInfo.title}
                                            </div>
                                       </div>
                                       <div class="caozuo ">
                                           <input lay-skin="primary" type="checkbox" name="sucai" value=""   data-id="{$value.mediaBasicInfo.mediaId}"  data-ossid="{$value.mediaBasicInfo.inputURL}">
                                <!--<div class="layui-unselect layui-form-checkbox" lay-skin="primary"></div>-->
                                           <!--<span onclick="zhida_deltss('{$value.mediaBasicInfo.mediaId}','{$value.mediaBasicInfo.inputURL}')">删除</span>-->
                                      </div>
                                    </div>
                                        <div class="texts" >上传于{$value.mediaBasicInfo.createTime}</div>
                                    </li>
                                {elseif $value.mediaBasicInfo.status=='Normal'}
                                <!--正常-->
                                <li style="list-style: none;" class="lise">
                                    <div class="neiro">
                                       <video controls=""><source src="{$value.mediaBasicInfo.inputURL}" type="video/mp4"></video>
            
                                       <div class="type">
                                           <div class="typename">
                                                {$value.mediaBasicInfo.title}
                                            </div>
                                       </div>
                                       <div class="caozuo ">
                                         <input lay-skin="primary" type="checkbox" name="sucai" value=""   data-id="{$value.mediaBasicInfo.mediaId}"  data-ossid="{$value.mediaBasicInfo.inputURL}">
                                           <div class="layui-unselect layui-form-checkbox" lay-skin="primary"></div>
                                           <span onclick="zhida_deltss('{$value.mediaBasicInfo.mediaId}','{$value.mediaBasicInfo.inputURL}')">{$value.fileSize}M</span>
                                      </div>
                                    </div>
                                        <div class="texts" >上传于{$value.mediaBasicInfo.createTime}</div>
                                    </li>
                                {else /}
                                <li style=" list-style: none;" class="lise">
                                    <div class="neiro">
                                       <p style="color:#f1f1f1">混剪视频失败...</p>
                                       <div class="type">
                                           <div class="typename">
                                                {$value.mediaBasicInfo.title}
                                            </div>
                                       </div>
                                       <div class="caozuo ">
                                           <input lay-skin="primary" type="checkbox" name="sucai" value=""   data-id="{$value.mediaBasicInfo.mediaId}"  data-ossid="{$value.mediaBasicInfo.inputURL}">
                                           <div class="layui-unselect layui-form-checkbox" lay-skin="primary"></div>
                                           <!--<span onclick="zhida_deltss('{$value.mediaBasicInfo.mediaId}','{$value.mediaBasicInfo.inputURL}')">删除</span>-->
                                      </div>
                                    </div>
                                        <div class="texts" >上传于{$value.mediaBasicInfo.createTime}</div>
                                    </li>
                                {/if}
                            {/foreach}
                            <div style="width:100%;text-align: center">
                                <div id="pager" class="pager clearfix">
                                </div>
                            </div>
                             {/if}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="public/footer" /}
<script src="/static/admin/page/jquery.z-pager.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $("#pager").zPager({
        totalData: {$total},
        pageData: 10,
        current: {$page}, //当前页码数
        btnShow: true,
        ajaxSetData: false
    });
    function currentPage(currentPage){
        /*
            触发页码数位置： Page/js/jquery.z-pager.js 64行
        */
        // console.log("当前页码数：" + currentPage);
        // window.location.href="&page="+currentPage
    }
    function goPage(currentPage){
        /*
            触发页码数位置： Page/js/jquery.z-pager.js 64行
        */
        console.log("当前页码数：" + currentPage);
        window.location.href="?id={$id}&page="+currentPage
    }
</script>
<script type="text/javascript">
    $("#selects").click(function() {
        $('input[name="sucai"]').attr('checked','checked')
    })
    $("#deletes").click(function() {
        layer.load(3)
        var delete_ids=new Array();
        $('input[name="sucai"]:checked').each(function(){
            delete_ids.push({id: $(this).attr('data-id'),ossid: $(this).attr('data-ossid')});//向数组中添加元素
        });
        
        pid = "{$id}";
       
        $.ajax({
            type: "POST",
            url: "/admin/video/zhida_deltss_s",
            data: {ids:delete_ids,pid:pid},
            success: function(data){
                layer.closeAll('loading');
                layer.msg(data,{icon:2,time:1500,shade: 0.1,});
                setInterval(function(){
                    location.reload();
                },1000);
                return false;
            },
            error:function() {
                layer.closeAll('loading');
                layer.alert('删除失败')

            }
        });
        console.log(delete_ids)
    })

    function zhida_deltss(id,ossid,pid){

        $.post('{:url("zhida_deltss")}',
            {id:id,ossid:ossid,pid:pid},
         function(data){
            if(data.code==1){

                layer.msg(data.msg,{icon:1,time:1500,shade: 0.1,});

                setInterval(function(){
                  location.reload();
                },1000);
                return false;
            }else{

                layer.msg(data.msg,{icon:2,time:1500,shade: 0.1,});
                 setInterval(function(){
                  location.reload();
                },1000);
                return false;
                }

        });
    }
 
</script>
</body>
</html>