{include file="public/header" /}
<style type="text/css">
    .div {
        width:98%;
        height:500px;
        margin:-150px auto;
        /* background:#ccc;*/
        position: fixed;
        /*position: inherit;*/
        display: none;

    }
    #animation {
        -webkit-animation:fadeInRight 2s .2s ease both;
        -moz-animation:fadeInRight 2s .2s ease both;
    }
    @-webkit-keyframes fadeInRight {
        0% {
            opacity:0;
            -webkit-transform:translateX(20px)
        }
        100% {
            opacity:1;
            -webkit-transform:translateX(0)
        }
    }
    @-moz-keyframes fadeInRight {
        0% {
            opacity:0;
            -moz-transform:translateX(20px)
        }
        100% {
            opacity:1;
            -moz-transform:translateX(0)
        }
    }

</style>
<body class="gray-bg">
<link rel="stylesheet" href="/static/admin/layui/css/layui.css" media="all">
<div class="wrapper layui-card-body wrapper-content">
    <div class="admin-con">
        <div class="block-box">
            <div class="col-12">
                <div class="block font12 font8c95b0">
                    刷新视频：每个账号的每次查询需间隔一个小时!<br>
                    刷新评论：仅支持获取《抖音平台》的评论数据!
                </div>
            </div>
            <div class="col-12">
                <a href="javascript:selects();" id="" ><button class="btn btn-outline btn-primary" type="button">全选</button></a>
                <a href="javascript:no_selects();" id="" ><button class="btn btn-outline btn-primary" type="button">全不选</button></a>
                <a href="javascript:re_video();" id="" ><button class="btn btn-outline btn-primary" type="button">刷新数据</button></a>
                        
                <form name="admin_list_sea" class="form-search" method="get" action="{:url('admin/video/daochu')}" style="float:right">
                    <div class="col-sm-12" style="padding:0;text-align:center;">
                        <input type="hidden" name="user_id" id="" value="" />
                        <input type="hidden" name="rid" id="" value="{$rid}" />
                        <div style="display:inline-flex">
                      
                        <a href="javascript:daochu();" id="" ><button class="btn btn-outline btn-primary" type="button">导出</button></a>
                        <button type="submit"  class="btn btn-primary" id="daochu" style="border-top-left-radius:0;border-bottom-left-radius:0;height:35px;display:none"></button> 
                        
                      </div>
        
                    </div>
                </form>  
            </div>
            
            <div class="col-12">
                <div class="block">
                    <div class="liebiao">
                <div  class="neirong">
                    <div class="neironghead">
                        <div class="neirong1">
                            <div class="neirong3" style="width:5%;">
                                选择
                            </div>
                            <div class="img_data" style="width:5%;">
                                平台
                            </div>
                            <div class="img_data" style="width:10%;">
                                头像
                            </div>
                            <div class="peo_data" style="width:10%;">
                                达人昵称
                            </div>
                            <div class="neirong3" style="width:10%;">
                                上次刷新视频
                            </div>
                            <div class="neirong3" style="width:10%;">
                                播放
                            </div>
                            <div class="neirong3" style="width:10%;">
                                点赞
                            </div>
                            <div class="neirong3" style="width:10%;">
                                评论
                            </div>
                            <div class="neirong3" style="width:10%;">
                                分享
                            </div>       
                             <div class="neirong3" style="width:10%;">
                                操作
                            </div> 
                        </div>
                    </div>
                </div>
                {foreach name="user_list" item="vo"}
                <div  class="neirong">
                    <div class="neirong1">
                        <div class="neirong3" style="width:5%;">
                            <input class="checkbox_ck" type="checkbox" name="uid" data-id="{$vo.id}"  >
                        </div>
                        <div class="img_data" style="width:5%;">
                            <div class="topp">
                                {if $vo.type=='1'}
                                <!--<span class="type">抖音</span>-->
                                <img class="type" src="__IMG__/dou.jpg">
                                {elseif  $vo.type=='2'}
                                <!--<span class="type">西瓜</span>-->
                                <img class="type" src="__IMG__/xig.png">
                                {elseif  $vo.type=='3'}
                                <!--<span class="type">头条</span>-->
                                <img class="type" src="__IMG__/tout.png">
                                {else /}
                                <!--<span class="type">快手</span>-->
                                <img class="type" src="__IMG__/kuais.png">
                                {/if}
                            </div>
                        </div>
                        <div class="img_data" style="width:10%;">
                            <img src="{$vo.avatar}">
                        </div>
                        <div class="peo_data" style="width:10%;">
                            <div class="name">{$vo.nickname}</div>
                        </div>
                        <div class="neirong3" style="width:10%;">
                            <p class="p1">{$vo.re_video_time}</p>
                        </div>
                        <div class="neirong3" style="width:10%;">
                            <p class="p1">{$vo.play_count}</p>
                        </div>
                        <div class="neirong3" style="width:10%;">
                            <p class="p1">{$vo.digg_count}</p>
                        </div>
                        <div class="neirong3" style="width:10%;">
                            <p class="p1">{$vo.comment_count}</p>
                        </div>
                        <div class="neirong3" style="width:10%;">
                            <p class="p1">{$vo.share_count}</p>
                        </div>
                        <div class="neirong3" style="width:10%;">
                           <a class="" href="{:url('admin/video/user_sp')}?rid={$rid}&user_id={$vo.id}" title="查看视频">
                                <span class="label label-info" style="font-size:12px">查看视频</span>
                            </a>
                        </div>

                    </div>
                </div>
                {/foreach}
              
            </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="public/footer" /}
<script type="text/javascript">
     function daochu(){
         rid = "{$rid}";//任务id
      // layer.load(3)
        //var re_uids=new Array();
        re_uids = '';
        $('input[name="uid"]:checked').each(function(){
            //re_uids.push($(this).attr('data-id'));//向数组中添加元素
            re_uids +=$(this).attr('data-id') +',';
        });
        if(re_uids==''){
           layer.alert('请选择账号');
           setInterval(function(){
                location.reload();
            },1000);
           return false; 
        }
        $('input[name=user_id]').val(re_uids);
         document.getElementById('daochu').click();
        //获取时间
      
    }
    //全选
    function selects()
    {
        $('.checkbox_ck').prop('checked',true);
    }
    //全不选
    function no_selects()
    {
        $('.checkbox_ck').prop('checked',false);
    }

    //刷新视频
    function re_video() {
        layer.load(3)
        var re_uids=new Array();
        $('input[name="uid"]:checked').each(function(){
            // console.log($(this).attr('data-rid'))
          
            re_uids.push($(this).attr('data-id'));//向数组中添加元素
        });
        if(re_uids==''){
           layer.alert('请选择账号');
           setInterval(function(){
                location.reload();
            },1000);
           return false; 
        }
       
      rid = "{$rid}";
     
        $.ajax({
            type: "POST",
            url: "/admin/video/gengxin_uids",
            data: {re_uids:re_uids,rid:rid},
            success: function(data){
                layer.closeAll('loading');
                layer.msg(data,{icon:1,time:1500,shade: 0.1,});
                setInterval(function(){
                    location.reload();
                },1000);
            },
            error:function() {
                layer.closeAll('loading');
                layer.alert('刷新失败')
            }
        });
    }

    function re_comment() {

        layer.load(3)

        var re_uids=new Array();
        $('input[name="uid"]:checked').each(function(){
            re_uids.push($(this).attr('data-id'));//向数组中添加元素
        });
        if(re_uids==''){
           layer.alert('请选择账号');
            setInterval(function(){
                    location.reload();
                },1000);
           
           return false; 
        }
        $.ajax({
            type: "POST",
            url: "/admin/huoke/shuaxin_uids",
            data: {re_uids:re_uids},
            success: function(data){
                layer.closeAll('loading');
                layer.msg(data,{icon:1,time:1500,shade: 0.1,});
                setInterval(function(){
                    location.reload();
                },1000);
            },
            error:function() {
                layer.closeAll('loading');
                layer.alert('刷新失败')
            }
        });
    }
</script>
</body>
</html>