{include file="public/header" /}
<style>
	.each-card--2mLnH{

	    -webkit-text-size-adjust: 100%;
	
    color: #fff;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 96%;
    background: #3e4040;
    border-radius: 12px;
    margin-left: 2%;
    }
    .video-content--3htxX{
    	    -webkit-text-size-adjust: 100%;
    color: #fff;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    min-height: 92px;
    width: 100%;
    display: flex;
    align-items: center;
    }
    .video-player--36Q3k{
    	    -webkit-text-size-adjust: 100%;
    color: #fff;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: relative;
    height: 60px;
    min-width: 45px;
    border-radius: 6px;
    margin-left: 22px;
    display: flex;
    overflow: hidden;
    }
    .new-video-cover--3XO7b{
    	    -webkit-text-size-adjust: 100%;
    color: #fff;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: flex;
    }
    .new-play-btn-container--1z7FH{
    	    -webkit-text-size-adjust: 100%;
    color: #fff;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: fit-content;
    position: relative;
    }
    .play-icon--1wjEf{
    	    -webkit-text-size-adjust: 100%;
    color: #fff;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    min-height: 92px;
    width: 100%;
    display: flex;
    align-items: center;
    }
    .cover-background--KBdeh{
    	    -webkit-text-size-adjust: 100%;
    color: #fff;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 60px;
    width: 45px;
    cursor: pointer;
    }
    .cover-img--3HeN1{
    	    -webkit-text-size-adjust: 100%;
    color: #fff;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 60px;
    width: 45px;
    cursor: pointer;
    }
    .time-text-mask--1qm8V{
    	    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 45px;
    height: 16px;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
    margin-top: 44px;
    margin-left: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: 12px;
    color: #fff;
    line-height: 21px;
    }
    .rank-num--paAJV{
    	    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    min-width: 17px;
    height: 20px;
    border-radius: 0 0 8px;
    color: #fff;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    font-weight: 600;
    text-shadow: 0 0.86667px 1.73333px rgba(58,58,58,0.2);
    transform-origin: 0 0;
    transform: scale(0.75);
    background: linear-gradient(137.15deg, #ff8f8f 8.62%, #ff4b56 90.36%);
    }
    .video-info--JbD0w{
    	    -webkit-text-size-adjust: 100%;
    color: #fff;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    padding: 16px 16px 16px 12px;
    width: calc(100% - 95px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .video-base-content--2c7lA{
    	    -webkit-text-size-adjust: 100%;
    color: #fff;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    display: flex;
    flex-direction: column;
    }
    .video-base-title--1QuXJ{
    	    -webkit-text-size-adjust: 100%;
    color: #fff;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    }
    .author-text--UP8IO{
    	    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    }
    .break-text--3AcAy{
    	    -webkit-text-size-adjust: 100%;
    color: #fff;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0 8px;
    }
    .video-base-title-text--3fId4{
    	    -webkit-text-size-adjust: 100%;
    color: #fff;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 20px;
    max-width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 300px;
    }
    .contain-info--47bWb{
    	    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: flex;
    flex-wrap: wrap;
    min-height: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #777e87;
    }
    .each-info--2AAfo{
    	    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #777e87;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin-top: 4px;
    margin-right: 2%;
    min-height: 16px;
    display: flex;
    align-items: center;
    max-width: 23%;
    overflow: hidden;
    }
    .each-info--2AAfo .tubiao{
        width: 16px;
        height: 16px;
    }
    .ach-icon--2peGV{
    	    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #777e87;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    border: none;
    height: 16px;
    width: 16px;
    margin-right: 4px;
    }
    .video-base-other--vrmsG{
    	    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #afb6be;
    font-size: 12px;
    line-height: 16px;
    margin-top: 6px;
    display: flex;
    }
    .other-text--3kg4P{
    	    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    color: #afb6be;
    font-size: 12px;
    line-height: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /*display: flex;*/
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
    .liebiao{
    	    -webkit-text-size-adjust: 100%;
    color: #333;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 33.333%;
    float: left;
    
    }
</style>
<!-- 头部 -->
<div class="h1title">
     

<style>
    .menu-contain--1OmUP {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}
.menu-contain--1OmUP .menu-card--cm4Pn {
    margin-right: 14px;
    height: 80px;
    /*width: 167px;*/
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}

</style>
<div class="menu-contain--1OmUP">
    <!--<div class="menu-card--cm4Pn" >-->
    <!--    <img class="menu-img" src="__IMG__/1.jpg">-->
    <!--</div>-->
    <!--<div class="menu-card--cm4Pn">-->
    <!--        <img class="menu-img" src="__IMG__/2.jpg">-->
    <!--</div>-->
            
    <!--        <div class="menu-card--cm4Pn" >-->
    <!--            <img class="menu-img" src="__IMG__/3.jpg">-->
    <!--            </div>-->
    <!--            <div class="menu-card--cm4Pn" >-->
                   
    <!--                <img class="menu-img" src="__IMG__/4.jpg">-->
    <!--                </div>-->
                    
    <!--                <div class="menu-card--cm4Pn" >-->
    <!--                    <img class="menu-img" src="__IMG__/5.jpg">-->
    <!--                    </div>-->
    <!--                    <div class="menu-card--cm4Pn" >-->
    <!--                        <img class="menu-img" src="__IMG__/6.jpg"></div>-->
    <!--                        </div>   -->

<style>
    .discover-select--1_GtD {
    position: relative;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 68px;
}
.discover-kind--3K1Bs {
    margin: 24px 0;
    font-size: 14px;
    line-height: 20px;
    color: #777e87;
}
.discover-kind--3K1Bs .each-line--2eqC7 {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 443px;
    margin-top: 12px;
}
.discover-kind--3K1Bs .each-line--2eqC7:first-child {
    margin-top: 0;
}
.discover-kind--3K1Bs .each-kind--9A9iF, .discover-kind--3K1Bs .show-button--EW9m4 {
    margin-right: 12px;
    cursor: pointer;
}

.discover-kind--3K1Bs .each-kind-light--1jAzM {
    color: #111;
    font-weight: 600;
}


.discover-other--15vYF {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 26px;
    min-width: 252px;
    font-size: 12px;
    line-height: 16px;
    color: #777e87;
}
.discover-sort--1Z8tU {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 26px;
}
.show-result--Cs1IN {
    position: relative;
    padding-left: 6px;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 16px;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.down-icon---S8VE {
    margin-left: 8px;
    height: 12px;
    width: 12px;
    color: #cbced4;
}
.show-result--Cs1IN {
    position: relative;
    padding-left: 6px;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 16px;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

</style>

  
      <blockquote class="layui-elem-quote">
  1.此榜单展示抖音、快手等平台当下热门视频， 您可以依据当下热门视频为灵感，进行创作<br>
  2.数据每日10:00更新，展示近三天的上榜热门视频进行比对！
</blockquote> 
</div>
<!-- 头部结束 -->

<div class="shipin">
    <div class="liebiao">
    <div class="hotlist"> 
        <div class="each-card--2mLnH"> 
            <div class="video-player--36Q3k" style="    line-height: 60px;">今天热门视频</div>
        </div>
            {foreach name="list" item="vo"}
            <div class="each-card--2mLnH">
        	    <div class="video-content--3htxX" onclick="window.open('{$vo.share_url}')">
    		        <div class="video-player--36Q3k" >
    		            <img src="{$vo.item_cover}" width="100%">
    		        </div>
    		        <div class="video-info--JbD0w">
    			<div class="video-base-content--2c7lA">
    				<div class="video-base-title--1QuXJ">
    					<a href="javascript:;" onmouseover="author(this)" class="author-text--UP8IO yuexian" titles="{$vo.author}">
    						{$vo.author}					</a>
    					<p class="break-text--3AcAy">
    						|
    					</p>
    					<p class="video-base-title-text--3fId4" style="width: 300px;" onmouseover="author(this)" titles="{$vo.title} ">{$vo.title}   					</p>
    				</div>
    				<div>
    					<div class="contain-info--47bWb">
    						<div class="each-info--2AAfo">
    						    <img class="each-icon--2peGV tubiao" src="/static/admin/images/hot.png">
    														{$vo.hot_value}						</div>
    						<div class="each-info--2AAfo">
    							<img class="each-icon--2peGV tubiao" src="/static/admin/images/bo.png">
    							{$vo.play_count} 						</div>
    						<div class="each-info--2AAfo">
    							<img class="each-icon--2peGV tubiao" src="/static/admin/images/zan.png">
    					    	{$vo.digg_count}						</div>
    						<div class="each-info--2AAfo">
    							<img class="each-icon--2peGV tubiao" src="/static/admin/images/ping.png">
    							{$vo.comment_count}						</div>
    					</div>
    				</div>
    				<div class="video-base-other--vrmsG">
        				<div class="other-text--3kg4P">
        						热词 : 		{$vo.hot_words}		    	
        
                        </div>
                    </div>
    			</div>
    		</div>
    	        </div>
            </div>
            {/foreach}  
    </div>
    </div>
    <!-- 结束 -->



    <!-- 昨天热门开始 -->
    <div class="liebiao">
        <div class="hotlist"> 
            <div class="each-card--2mLnH"> 
                <div class="video-player--36Q3k" style="line-height: 60px;">昨天热门视频</div>
            </div>
             {foreach name="zuotian" item="vo"}
            <!--静态数据，删除-->
            <div class="each-card--2mLnH" >
        	    <div class="video-content--3htxX" onclick="window.open('{$vo.share_url}')">
    		        <div class="video-player--36Q3k">
    		            <img src="{$vo.item_cover}" width="100%">
    		        </div>
    		        <div class="video-info--JbD0w">
    			<div class="video-base-content--2c7lA">
    				<div class="video-base-title--1QuXJ">
    					<a href="javascript:;" onmouseover="author(this)" class="author-text--UP8IO yuexian" titles="{$vo.author}">
    					{$vo.author}					</a>
    					<p class="break-text--3AcAy">
    						|
    					</p>
    					<p class="video-base-title-text--3fId4" style="width: 300px;" onmouseover="author(this)" titles="{$vo.title}">{$vo.title} 					</p>
    				</div>
    				<div>
    					<div class="contain-info--47bWb">
    						<div class="each-info--2AAfo">
    						    <img class="each-icon--2peGV tubiao" src="/static/admin/images/hot.png">
    													 {$vo.hot_value}						</div>
    						<div class="each-info--2AAfo">
    							<img class="each-icon--2peGV tubiao" src="/static/admin/images/bo.png">
    						 {$vo.play_count} 						</div>
    						<div class="each-info--2AAfo">
    							<img class="each-icon--2peGV tubiao" src="/static/admin/images/zan.png">
    					    {$vo.digg_count} 						</div>
    						<div class="each-info--2AAfo">
    							<img class="each-icon--2peGV tubiao" src="/static/admin/images/ping.png">
    						 {$vo.comment_count}    						</div>
    					</div>
    				</div>
    				<div class="video-base-other--vrmsG">
        				<div class="other-text--3kg4P">
        						热词 : 	{$vo.hot_words} 		    	
        
                        </div>
                    </div>
    			</div>
    		</div>
    	        </div>
            </div>
            
              {/foreach} 
         
         
        </div>
    </div>
    <!-- 昨天热门结束 -->
    
    
    <!-- 前天热门视频 -->
    <div class="liebiao">
        <div class="hotlist"> 
            <div class="each-card--2mLnH"> 
                <div class="video-player--36Q3k" style="    line-height: 60px;">前天热门视频</div>
            </div>
              {foreach name="qiantian" item="vo"}
            <!--静态数据，删除-->
            <div class="each-card--2mLnH" >
        	    <div class="video-content--3htxX" onclick="window.open('{$vo.share_url}')">
    		        <div class="video-player--36Q3k">
    		            <img src="{$vo.item_cover}" width="100%">
    		        </div>
    		        <div class="video-info--JbD0w">
    			<div class="video-base-content--2c7lA">
    				<div class="video-base-title--1QuXJ">
    					<a href="javascript:;" onmouseover="author(this)" class="author-text--UP8IO yuexian" titles="{$vo.author}">
    					{$vo.author}					</a>
    					<p class="break-text--3AcAy">
    						|
    					</p>
    					<p class="video-base-title-text--3fId4" style="width: 300px;" onmouseover="author(this)" titles="{$vo.title}">{$vo.title} 					</p>
    				</div>
    				<div>
    					<div class="contain-info--47bWb">
    						<div class="each-info--2AAfo">
    						    <img class="each-icon--2peGV tubiao" src="/static/admin/images/hot.png">
    													 {$vo.hot_value}						</div>
    						<div class="each-info--2AAfo">
    							<img class="each-icon--2peGV tubiao" src="/static/admin/images/bo.png">
    						 {$vo.play_count} 						</div>
    						<div class="each-info--2AAfo">
    							<img class="each-icon--2peGV tubiao" src="/static/admin/images/zan.png">
    					    {$vo.digg_count} 						</div>
    						<div class="each-info--2AAfo">
    							<img class="each-icon--2peGV tubiao" src="/static/admin/images/ping.png">
    						 {$vo.comment_count}    						</div>
    					</div>
    				</div>
    				<div class="video-base-other--vrmsG">
        				<div class="other-text--3kg4P">
        						热词 : 	{$vo.hot_words} 		    	
        
                        </div>
                    </div>
    			</div>
    		</div>
    	        </div>
            </div>
            
              {/foreach} 
         
               
        </div>
    </div>
    
</div>
<!--<div id="AjaxPage" style=" text-align: left;">{$page}</div>-->

 {include file="public/footer" /}
<!-- 前天热门视频结束 -->
