
<style>
	.each-card--2mLnH{

	    -webkit-text-size-adjust: 100%;
	
    color: #333;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 500px;
    background: #f7f9fb;
    border-radius: 12px;
    margin-bottom: 16px;
    }
    .video-content--3htxX{
    	    -webkit-text-size-adjust: 100%;
    color: #333;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    min-height: 92px;
    width: 100%;
    display: flex;
    align-items: center;
    }
    .video-square-player--3oLJs{
    	    -webkit-text-size-adjust: 100%;
    color: #333;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: relative;
    height: 60px;
    min-width: 60px;
    border-radius: 6px;
    margin-left: 24px;
    display: flex;
    overflow: hidden;
    }
    .rank-num--paAJV{
    	    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    min-width: 40px;
    height: 40px;
    border-radius: 0 0 8px;
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    text-shadow: 0 0.86667px 1.73333px rgba(58,58,58,0.2);
    transform-origin: 0 0;
    transform: scale(0.75);
    background: linear-gradient(137.15deg, #ff8f8f 8.62%, #ff4b56 90.36%);
    }
    .video-info--JbD0w{
    	    -webkit-text-size-adjust: 100%;
    color: #333;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    padding: 16px 16px 16px 12px;
    width: calc(100% - 95px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .video-base-content--2c7lA{
    	    -webkit-text-size-adjust: 100%;
    color: #333;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    display: flex;
    flex-direction: column;
    }
    .video-base-title-text--3fId4{
    	    -webkit-text-size-adjust: 100%;
    color: #333;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 20px;
    max-width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    }
    .contain-info--47bWb{
    	    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: flex;
    flex-wrap: wrap;
    min-height: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #777e87;
    }
    .video-create--3Djq9{
    	    -webkit-text-size-adjust: 100%;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #fe2c55;
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    min-width: 68px;
    }

</style>
<div class="h1title">
     
<style>
    .menu-contain--1OmUP {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}
.menu-contain--1OmUP .menu-card--cm4Pn {
    margin-right: 14px;
    height: 80px;
    /*width: 167px;*/
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}

</style>
<div class="menu-contain--1OmUP">
    <div class="menu-card--cm4Pn" >
        <img class="menu-img" src="__IMG__/1.jpg"></div>
        <div class="menu-card--cm4Pn">
            <img class="menu-img" src="__IMG__/2.jpg"></div>
            
            <div class="menu-card--cm4Pn" >
                <img class="menu-img" src="__IMG__/3.jpg"></div>
                <div class="menu-card--cm4Pn" >
                   
                    <img class="menu-img" src="__IMG__/4.jpg"></div>
                    
                    <div class="menu-card--cm4Pn" >
                        <img class="menu-img" src="__IMG__/5.jpg"></div>
                        <div class="menu-card--cm4Pn" >
                            <img class="menu-img" src="__IMG__/6.jpg"></div></div>   

<style>
    .discover-select--1_GtD {
    position: relative;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 68px;
}
.discover-kind--3K1Bs {
    margin: 24px 0;
    font-size: 14px;
    line-height: 20px;
    color: #777e87;
}
.discover-kind--3K1Bs .each-line--2eqC7 {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 443px;
    margin-top: 12px;
}
.discover-kind--3K1Bs .each-line--2eqC7:first-child {
    margin-top: 0;
}
.discover-kind--3K1Bs .each-kind--9A9iF, .discover-kind--3K1Bs .show-button--EW9m4 {
    margin-right: 12px;
    cursor: pointer;
}

.discover-kind--3K1Bs .each-kind-light--1jAzM {
    color: #111;
    font-weight: 600;
}


.discover-other--15vYF {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 26px;
    min-width: 252px;
    font-size: 12px;
    line-height: 16px;
    color: #777e87;
}
.discover-sort--1Z8tU {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 26px;
}
.show-result--Cs1IN {
    position: relative;
    padding-left: 6px;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 16px;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.down-icon---S8VE {
    margin-left: 8px;
    height: 12px;
    width: 12px;
    color: #cbced4;
}
.show-result--Cs1IN {
    position: relative;
    padding-left: 6px;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 16px;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
</style>

  
      <blockquote class="layui-elem-quote" style="width:100%;    font-size: 14px;">
  1.此榜单展示抖音、快手等平台当下热门视频， 您可以依据当下热门视频为灵感，进行创作<br>
  2.数据每日10:00更新，展示近三天的上榜热门视频进行比对！
</blockquote> 
</div>
<!-- 主题任荣 -->
<div class="each-card--2mLnH" style="width: 892px;">
   <div class="video-content--3htxX" style="cursor: pointer;">
    <div class="video-square-player--3oLJs">
     <div class="rank-num--paAJV  rank-num-0--2jvm2 ">
      1     </div>
     <div class="fudong" style="display:none;">
        
            <span><b>-</b></span>
          </div>
    </div>
    <div class="video-info--JbD0w">
     <div class="video-base-content--2c7lA">
      <div class="video-base-title-text--3fId4">
      20220222中国式浪漫      </div>
           
      <div class="video-base-other--vrmsG">
           <div class="contain-info--47bWb">
               影响力指数:<b style="color:#fe2c55!important">12796851</b>
           </div>     
      </div>       
     </div>
     <div class="video-create--3Djq9">
         <!--
        <i class="layui-icon layui-icon-release senfa" ></i>发布视频
        -->
             <span><b>-</b></span>
            
        
     </div>
    </div>
   </div>
  </div>

  <div class="each-card--2mLnH" style="width: 892px;">
   <div class="video-content--3htxX" style="cursor: pointer;">
    <div class="video-square-player--3oLJs">
     <div class="rank-num--paAJV  rank-num-0--2jvm2 ">
      1     </div>
     <div class="fudong" style="display:none;">
        
            <span><b>-</b></span>
          </div>
    </div>
    <div class="video-info--JbD0w">
     <div class="video-base-content--2c7lA">
      <div class="video-base-title-text--3fId4">
      20220222中国式浪漫      </div>
           
      <div class="video-base-other--vrmsG">
           <div class="contain-info--47bWb">
               影响力指数:<b style="color:#fe2c55!important">12796851</b>
           </div>     
      </div>       
     </div>
     <div class="video-create--3Djq9">
         <!--
        <i class="layui-icon layui-icon-release senfa" ></i>发布视频
        -->
             <span><b>-</b></span>
            
        
     </div>
    </div>
   </div>
  </div>

  <div class="each-card--2mLnH" style="width: 892px;">
   <div class="video-content--3htxX" style="cursor: pointer;">
    <div class="video-square-player--3oLJs">
     <div class="rank-num--paAJV  rank-num-0--2jvm2 ">
      1     </div>
     <div class="fudong" style="display:none;">
        
            <span><b>-</b></span>
          </div>
    </div>
    <div class="video-info--JbD0w">
     <div class="video-base-content--2c7lA">
      <div class="video-base-title-text--3fId4">
      20220222中国式浪漫      </div>
           
      <div class="video-base-other--vrmsG">
           <div class="contain-info--47bWb">
               影响力指数:<b style="color:#fe2c55!important">12796851</b>
           </div>     
      </div>       
     </div>
     <div class="video-create--3Djq9">
         <!--
        <i class="layui-icon layui-icon-release senfa" ></i>发布视频
        -->
             <span><b>-</b></span>
            
        
     </div>
    </div>
   </div>
  </div>
<!-- 主题内容结束 -->