<script src="__CDN__/storeadmin2/js/require{$Think.config.app_debug?'':'.min'}.js" data-main="__CDN__/storeadmin2/js/require-backend.js?v=3.8"></script>

<style type="text/css">
	@font-face {font-family: bdt;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/bdt.ttf');}
	@font-face {font-family: mmdt;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/mmdt.ttf');}
	@font-face {font-family: mqrtt;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/mqrtt.ttf');}
	@font-face {font-family: zgzh;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/zgzh.ttf');}
	@font-face {font-family: xklt;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/xklt.ttf');}
	@font-face {font-family: fzxft;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/fzxft.ttf');}
	@font-face {font-family: jyh;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/jyh.ttf');}
	@font-face {font-family: zkcjh;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/zkcjh.ttf');}
	@font-face {font-family: xyh;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/xyh.ttf');}
	@font-face {font-family: lmzyt;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/lmzyt.ttf');}
	@font-face {font-family: jjcjh;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/jjcjh.ttf');}
	@font-face {font-family: yqllt;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/yqllt.ttf');}
	@font-face {font-family: fyh;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/fyh.ttf');}
	@font-face {font-family: xbl;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/xbl.ttf');}
	@font-face {font-family: yrh;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/yrh.ttf');}
	@font-face {font-family: flh;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/flh.ttf');}
	@font-face {font-family: yycsh;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/yycsh.ttf');}
	@font-face {font-family: xylht;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/xylht.ttf');}
	@font-face {font-family: dlt;src: url('https://yofan.oss-cn-shanghai.aliyuncs.com/font/dlt.ttf');}
	.select_diy {display:flex;flex-direction:column;position:relative;max-height: 200px;overflow-y: scroll;}
    .select_diy .option{padding:0 30px 0 10px;min-height:40px;display:flex;align-items:center;background:#333;border-top:#222 solid 1px;position:absolute;top:0;width:100%;pointer-events:none;order:2;z-index:1;transition:background .4s ease-in-out;box-sizing:border-box;overflow:hidden;white-space:nowrap;font-size: 24px;letter-spacing: 2px;font-weight: initial;}
    .select_diy .option:hover{background:#666}
    .select_diy:focus .option{position:relative;pointer-events:all}
    .select_diy  label{order:1;z-index:2;background:#666;border-top:none;position:relative}
</style>