{include file="public/header" /}
<body class="gray-bg">
<link rel="stylesheet" href="/static/admin/layui/css/layui.css" media="all">
<div class="wrapper layui-card-body wrapper-content">
    <div class="admin-con">
        <div class="block-box">
            <div class="col-12">
                <a href="javascript:tianjia();" class="btn btn-outline btn-primary">添加关键词</a>
                            
            </div>
            

            <div class="col-12">
                <div class="block">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th style="width:15%">序号</th>
                                <th style="width:15%">昵称</th>
                                <th style="width:35%;word-wrap:break-word;">主页链接</th>
                                <th style="width:20%">关键词</th>
                                <th style="width:15%">操作</th>
                            </tr>
                        </thead>
                       	
                        <tbody id="article_list">
                        	 {foreach name="list" item="vo"}
                              <tr  style="display: flex;">
                                <td style="width:15%">{$vo.id}</td>  
                                <td style="width:15%">{$vo.dy_nickname}</td>  
                                <td style="width:35%;word-wrap:break-word;">{$vo.web_url}</td>  
                                <td style="width:20%">{$vo.keywords}</td>  
                                <td style="width:15%">
                                     <a href="{:url('admin/huoke/liebiao')}?dy_nickname={$vo.dy_nickname}"  class="btn btn-primary btn-xs">
                                            查看</a>   
                                </td>  
                              </tr>     
                            {/foreach}
                        </tbody>
                    </table>
                    <div id="AjaxPage" style=" text-align: right;"></div>
                    <div id="allpage" style=" text-align: right;"></div>
                </div>
            </div>
          
        </div>
    </div>
</div>


<!--添加任务模态框-->
<div class="modal fade" id="add" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">添加关键词</h4>             
                </div>
                <div class="add-renwu">
                    <div style="padding:5% 0">
                        <div class="form-group" style="margin-bottom:20px">
                            <label class="col-sm-3 control-label font14 text-r" style="line-height:35px;"></label>
                            <div class="input-group col-sm-8">
                            <input type="radio" name="xuanze" value="1" title="选择账号" onclick="xuanze(1)" checked="" style="margin-top:13px">&nbsp;&nbsp;选择账号&nbsp;&nbsp;
                            <input type="radio" name="xuanze" value="2" title="手动输入" onclick="xuanze(2)" style="margin-top:13px">&nbsp;&nbsp;手动输入 &nbsp;&nbsp;
                            </div>
                        </div>
                            <form  id="add-renwuform"  >
                                  <div class="form-group" id="xuanzeone">
                                    <label class="col-sm-3 control-label font13 text-r" style="line-height:35px;">选择账号：</label>
                                    <div class="input-group col-sm-8">
                                       <select name="dy_nickname"   class="form-control" id="dy_nickname" style="width:100%;">
                                       
                                       {foreach name="username" item="v"}
                                        <option value="">选择账号</option>
                                        <option value="{$v.nickname}">{$v.nickname}</option>
                                            {/foreach}
                                        </select>
                                       
                                    </div>
                                </div>
                                 <div class="form-group" id="xuanzetwo" style="display:none">
                                    <label class="col-sm-3 control-label font13 text-r" style="line-height:35px;">手动填写账号：</label>
                                    <div class="input-group col-sm-8">
                                        <input  type="text" class="form-control"  name="name"   >
                                       
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label font13 text-r" style="line-height:35px;">填写关键词：</label>
                                    <div class="input-group col-sm-8">
                                        <!--<input  type="text" class="form-control" name="keywords"  >-->
                                        <textarea rows="10" cols="50" name="keywords" id="keywords" class="font13" placeholder="添加多个关键词请用换行隔开例如：
喜欢
好玩
美丽的" style="resize:none;border:0"></textarea>
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label font13 text-r" style="line-height:35px;">主页链接地址：</label>
                                    <div class="input-group col-sm-8">
                                        <input  type="text" class="form-control"  name="web_url"  >
                                       
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <div class="col-col-sm-offset-3">
                                        <botton class="btn btn-primary ml-30 mt-5"  id='zhida_baocun' onclick="tijiao()" >
                                            提交关键词
                                        </botton>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
<!--添加任务模态框结束-->    
    



{include file="public/footer" /}

<script type="text/javascript">

function xuanze(type){
  
   if(type==1){
      
       $("#xuanzetwo").css('display','none');
       $("#xuanzeone").css('display','block');
   }else{
        $("#xuanzetwo").css('display','block');
       $("#xuanzeone").css('display','none');
   }
}
/**
 * 添加任务
*/
function tijiao(){
         dy_nickname = $('#dy_nickname  option:selected').val();
      //  keywords = $("input[name='keywords']").val();
        keywords = $("#keywords").val();
      if(dy_nickname==0){
          dy_nickname = $("input[name='name']").val();
      }
       
        web_url = $("input[name='web_url']").val();
        
        
        // dy_nickname = $("input[name='dy_nickname']").val();
        
        if(web_url ==''){
           layer.msg("请填写要查询的账号地址",{icon:2,time:1500,shade: 0.1,}); return false;
        }
       if(keywords ==''){
           layer.msg("请填写关键词",{icon:2,time:1500,shade: 0.1,});
       }else{
            $.post('{:url("chaxun")}',
       {keywords:keywords,web_url:web_url,dy_nickname:dy_nickname},
      function(data){
        if(data.code==1){
                layer.msg(data.msg,{icon:1,time:1500,shade: 0.1,});
                setInterval(function(){
                  window.location.href="{:url('admin/Huoke/liebiao')}";
                },1000)
       }else{
            layer.msg(data.msg,{icon:2,time:1500,shade: 0.1,});
       }
     });
       }
    }
    
  
function tianjia(){
    $("#add").modal('show');
}


</script>
</body>
</html>