{include file="public/header" /}
<style data-for="result" id="css_result" type="text/css">
   .form-control{
       width: 100px;
       
   }
 
    .form-group{
        width: 100%;
        height: 30px;
        margin-top:30px;
      
    }
    .form-f{
        width: 40%;
        height: 30px;
        float: left;
        margin-left:80px;
    }
    .form-f1{
       width: 80px;
        margin-right: 20px;
    }
    .form-control{
        margin-right:  40px;
    }
    .btn-primary{
        margin-top:40px;
        margin-left:40%;
        width: 300px;
    }
    
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <!-- jieshu -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>公众号接口</h5>
        </div>
        <div class="ibox-content">
               <form class="form-inline">
                     <div class="form-group" >
                          <div class="form-f">
                               <label for="exampleInputName2" class="form-f1">appid</label>
                                 <input type="text" class="form-control" id="exampleInputName2" placeholder="请填写key">
                                <input type="checkbox" name='status' value="1" class="js-switch" checked />  
                          </div>
                   
                          <div class="form-f">
                               <label for="exampleInputName2" class="form-f1">appid</label>
                             <input type="text" class="form-control" id="exampleInputName2" placeholder="请填写key ">
                              
                            <input type="checkbox" name='status' value="1" class="js-switch1" checked />   
                          </div>

                   
                  </div>
                   <div class="form-group" >
                          <div class="form-f">
                               <label for="exampleInputName2" class="form-f1">appid</label>
                                 <input type="text" class="form-control" id="exampleInputName2" placeholder="请填写key">
                                <input type="checkbox" name='status' value="1" class="js-switch3" checked />  
                          </div>
                   
                          <div class="form-f">
                               <label for="exampleInputName2" class="form-f1">appid</label>
                             <input type="text" class="form-control" id="exampleInputName2" placeholder="请填写key ">
                              
                            <input type="checkbox" name='status' value="1" class="js-switch4" checked />   
                          </div>
                          
                   
                  </div>
                     <button type="submit" class="btn btn-primary">保存</button> 
               </form>

        </div>
    </div>
</div>
<!-- kaishi -->



{include file="public/footer" /}

<script type="text/javascript">
     var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
         var elem = document.querySelector('.js-switch1');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var elem = document.querySelector('.js-switch2');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var elem = document.querySelector('.js-switch3');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var elem = document.querySelector('.js-switch4');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var elem = document.querySelector('.js-switch5');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var elem = document.querySelector('.js-switch6');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var elem = document.querySelector('.js-switch7');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var elem = document.querySelector('.js-switch8');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
        var elem = document.querySelector('.js-switch9');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
         var elem = document.querySelector('.js-switch10');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });
    var config = {
        '.chosen-select': {},                    
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

</script>

</html>